.wrapper {
    position: relative;
    width: 100%;
}

.label {
    color: var(--Neutral-neutral-900, #363a3e);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.inputWrapper {
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #dee2e6;
    padding: 6px 10px;
    cursor: pointer;
    flex-wrap: wrap;
    gap: 8px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

.selectedTags {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    gap: 6px;
}

.tag {
    padding: 1px 8px;
    font-family: 'Poppins', sans-serif;
    border-radius: var(--Corner-Small, 12px);
    border: 1px solid var(--blue-accent, #0078d7);
    background: var(--Light-Blue, #edf2fa);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue-accent, #0078d7);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tag button {
    background: none;
    border: none;
    color: var(--blue-accent, #0078d7);
    font-weight: bold;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #aaa;
}

.arrow {
    font-size: 14px;
    margin-left: auto;
    transition: transform 0.3s ease;
    display: flex;
}

.arrowOpen {
    transform: rotate(180deg);
}

.selectInput {
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
}
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 6px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-height: 240px;
    overflow-y: auto;
    display: none;
    z-index: 999;
    opacity: 0;
    transform: scaleY(0.9);
    transform-origin: top;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.open {
    display: block;
    opacity: 1;
    transform: scaleY(1);
}

.header {
    width: 100%;
    padding: 8px 4px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectAllBtn {
    background: none;
    border: 1px solid #007bff;
    color: #007bff;
    padding: 4px 10px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    cursor: pointer;
    margin-right: 5px;
}

.searchRow {
    display: flex;
    gap: 8px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 8px;
}

.options {
    padding: 8px;
    font-family: 'Poppins', sans-serif;
}

.option {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 0;
    font-family: 'Poppins', sans-serif;
}

.noResult {
    font-size: 13px;
    color: #777;
    padding: 6px;
    font-family: 'Poppins', sans-serif;
}

.disabled {
    opacity: 0.9;
    pointer-events: none;
}
