.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 8px;
    border-radius: 12px;
    background: var(--background-primary, #fff);
    box-shadow: 0 4px 8px 0 rgba(91, 118, 168, 0.12);
}

.item {
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    padding: 8px;
    color: var(--content-tertiary, #666);
    font-feature-settings:
        'liga' off,
        'clig' off;
    font-family: Poppins;
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20, 20px); /* 142.857% */
    transition: all 0.3s ease;
}

.item:focus:not(.itemSelected) {
    background: var(--background-secondary, #f3f3f3);
    color: var(--content-primary, #1a1a1a);
}

.itemSelected {
    background: var(--background-selected, #e7eefd);
    color: var(--content-brand, #0d3caf);
}
