.modalContent {
    max-width: 472px;
    width: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    gap: var(--pm-500);
}

/* Create Warning */
.createWarning p,
.editWarning P {
    color: hsl(var(--clr-grey-600));
    font-size: var(--fs-100);
    font-style: normal;
    font-weight: 400;
    line-height: var(--pm-550);

    margin-bottom: var(--pm-300);
}

.editWarning {
    margin-bottom: 0;
}

.strong {
    font-style: italic;
    font-weight: 600;
}
