.tableWrapper {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #1c1c1c;
}

.table thead tr {
    background-color: #f8f9fb;
}
.table thead th {
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.table th,
.table td {
    padding: 12px 16px;
    border-bottom: 1px solid #edf0f4;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

.thContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.table th span {
    overflow: hidden;
    color: var(--foundation-dark-normal-active, #3d4c5e);
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 4px;
}

.eyeIcon {
    color: #c1c7d0;
    cursor: pointer;
}
.dragIcon {
    position: absolute;
    left: 16px;
    top: -4px;
    border-radius: var(--Corner-Extra-small, 4px);
    background: #fff;
    display: flex;
    padding: var(--sds-size-space-150) var(--sds-size-space-0);
    align-items: center;
    gap: 10px;
    box-shadow: 0px 4px 8px 0px rgba(91, 118, 168, 0.12);
    padding: 1px 4px;
}
