.switch {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.switch [data-part='control'] {
    display: inline-flex;
    background: var(--background-teritary, #ebebeb);
    border-radius: 9999999px;
    transition: all 0.2s ease;
    border: 1px solid transparent;
    align-items: center;
}
.switch [data-part='thumb'] {
    background: var(--content-primary-inverse, #fff);
    border-radius: 9999999px;
    transition: all 0.2s ease;
}

.switch[data-hover] [data-part='control'] {
    background: var(--background-subtle, #ccc);
}

.switch:is(:checked, [data-checked], [aria-checked='true'], [data-state='checked']) [data-part='thumb'] {
    transform: translateX(100%);
}
.switch:is(:checked, [data-checked], [aria-checked='true'], [data-state='checked']) [data-part='control'] {
    background: var(--content-brand, #0d3caf);
}

.switch:is(:disabled, [data-disabled]) {
    cursor: auto;
}
.switch:is(:disabled, [data-disabled]) [data-part='control'] {
    background: var(--background-disabled, #f3f3f3);
}
.switch:is(:disabled, [data-disabled]) [data-part='thumb'] {
    background: var(--content-disabled, #a6a6a6);
}
.switch:is(:disabled, [data-disabled]) [data-part='label'] {
    color: var(--content-disabled, #a6a6a6);
    font-size: var(--fs-16, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20, 20px);
}

.hiddenInputFixed {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 0px;
    height: 0px;
    opacity: 0;
    pointer-events: none;
}

.switch[data-size='14'] [data-part='control'] {
    height: 14px;
    width: 22px;
}
.switch[data-size='14'] [data-part='thumb'] {
    width: 10px;
    height: 10px;
}

.switch[data-size='16'] [data-part='control'] {
    height: 16px;
    width: 26px;
}
.switch[data-size='16'] [data-part='thumb'] {
    width: 12px;
    height: 12px;
}

.switch[data-size='20'] [data-part='control'] {
    height: 20px;
    width: 32px;
}
.switch[data-size='20'] [data-part='thumb'] {
    width: 16px;
    height: 16px;
}
