[data-part='root'] {
    display: flex;
    align-items: center;
    cursor: pointer;
}

[data-part='label'] {
    color: var(--content-secondary, #333);
    font-style: normal;
}

[data-part='root'][data-disabled] [data-part='label'] {
    color: var(--content-disabled, #a6a6a6);
}

[data-part='control'] {
    display: inline-flex;
    background: var(--background-teritary, #ebebeb);
    border-radius: var(--br-pill, 9999px);
    transition: all 0.2s ease-in-out;
    border-style: solid;
    border-color: transparent;
    align-items: center;
}

[data-part='root'][data-state='checked'] [data-part='control'] {
    background: var(--content-brand, #0d3caf);
}

[data-part='thumb'] {
    background: var(--content-primary-inverse, #fff);
    border-radius: 50%;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
}

/* State-hover */
[data-part='root']:not([data-disabled])[data-hover] [data-part='control'] {
    background: var(--background-subtle, #ccc);
}

[data-part='root']:not([data-disabled])[data-state='checked'][data-hover] [data-part='control'] {
    background: var(--background-subtle, #ccc);
}

/* State-pressed */
[data-part='root']:not([data-disabled])[data-active] [data-part='control'] {
    background: var(--background-teritary, #ebebeb) !important;
}

[data-part='root']:not([data-disabled])[data-state='checked'][data-active] [data-part='control'] {
    background: var(--content-brand, #0d3caf) !important;
}

/* State-disabled */
[data-part='root'][data-disabled] [data-part='control'] {
    background: var(--background-disabled, #f3f3f3) !important;
}

[data-part='root'][data-disabled] [data-part='thumb'] {
    background: var(--content-disabled, #a6a6a6) !important;
}

/* Size-14 */
[data-part='root'][data-size='14'] {
    gap: var(--space-200, 4px);
}

[data-part='root'][data-size='14'] [data-part='label'] {
    font-size: var(--fs-14, 14px);
    font-weight: 400;
    line-height: var(--lh-20, 20px);
}

[data-part='root'][data-size='14'] [data-part='control'] {
    width: 22px;
    height: 14px;
    padding: var(--space-100, 2px);
}

[data-part='root'][data-size='14'] [data-part='thumb'] {
    width: 10px;
    aspect-ratio: 1/1;
}

[data-part='root'][data-size='14'][data-state='checked'] [data-part='thumb'] {
    transform: translateX(calc(100% - 2px));
}

[data-part='root']:not([data-disabled])[data-size='14'][data-active] [data-part='control'] {
    box-shadow: 0 0 0 1.5px var(--border-tertiary, #ccc);
}

[data-part='root']:not([data-disabled])[data-size='14'][data-state='checked'][data-active] [data-part='control'] {
    box-shadow: 0 0 0 1.5px var(--border-subtle, #ebebeb);
}

/* Size-16 */
[data-part='root'][data-size='16'] {
    gap: var(--space-200, 4px);
}

[data-part='root'][data-size='16'] [data-part='label'] {
    font-size: var(--fs-14, 14px);
    font-weight: 400;
    line-height: var(--lh-20, 20px);
}

[data-part='root'][data-size='16'] [data-part='control'] {
    width: 26px;
    height: 16px;
    padding: var(--space-100, 2px);
}

[data-part='root'][data-size='16'] [data-part='thumb'] {
    width: 12px;
    aspect-ratio: 1/1;
}

[data-part='root'][data-size='16'][data-state='checked'] [data-part='thumb'] {
    transform: translateX(calc(100% - 2px));
}

[data-part='root']:not([data-disabled])[data-size='16'][data-active] [data-part='control'] {
    box-shadow: 0 0 0 1.5px var(--border-tertiary, #ccc);
}

[data-part='root']:not([data-disabled])[data-size='16'][data-state='checked'][data-active] [data-part='control'] {
    box-shadow: 0 0 0 1.5px var(--border-subtle, #ebebeb);
}

/* Size-20 */
[data-part='root'][data-size='20'] {
    gap: var(--space-200, 4px);
}

[data-part='root'][data-size='20'] [data-part='label'] {
    font-size: var(--fs-16, 16px);
    font-weight: 400;
    line-height: var(--lh-20, 20px);
}

[data-part='root'][data-size='20'] [data-part='control'] {
    width: 32px;
    height: 20px;
    padding: var(--space-100, 2px);
}

[data-part='root'][data-size='20'] [data-part='thumb'] {
    width: 16px;
    aspect-ratio: 1/1;
}

[data-part='root'][data-size='20'][data-state='checked'] [data-part='thumb'] {
    transform: translateX(calc(100% - 4px));
}

[data-part='root']:not([data-disabled])[data-size='20'][data-active] [data-part='control'] {
    box-shadow: 0 0 0 2px var(--border-tertiary, #ccc);
}

[data-part='root']:not([data-disabled])[data-size='20'][data-state='checked'][data-active] [data-part='control'] {
    box-shadow: 0 0 0 2px var(--border-subtle, #ebebeb);
}
