/* Root */
.switch {
    display: flex;
    gap: var(--pm-200);
    align-items: center;
    cursor: pointer;
}

.switch [data-part='control'] {
    display: inline-flex;
    width: calc(var(--wh-400) + 0.125rem);
    background-color: hsl(var(--clr-grey-300));
    padding: var(--pm-100);
    border-radius: 9999999px;
    transition: var(--animation);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08) inset;
    border: 1px solid transparent;
}
.switch[data-hover] [data-part='control'] {
    background-color: hsl(var(--clr-grey-500));
}

.switch [data-part='thumb'] {
    width: var(--wh-150);
    height: var(--wh-150);
    background: hsl(var(--clr-background));
    border-radius: 9999999px;
    transition: var(--animation);
}

.switch:is(:checked, [data-checked], [aria-checked='true'], [data-state='checked']) [data-part='thumb'] {
    transform: translateX(100%);
}

.switch:is(:checked, [data-checked], [aria-checked='true'], [data-state='checked']) [data-part='control'] {
    background: hsl(var(--clr-blue-400));
}

.switch[data-color='primary'][data-focus] [data-part='control'] {
    border: 1px solid hsl(var(--clr-primary-400));
}
.switch[data-color='blue'][data-focus] [data-part='control'] {
    border: 1px solid hsl(var(--clr-blue-200));
}

/* onChecked bg switch */
.switch.variant-default[data-color='primary']:is(:checked, [data-checked]) [data-part='control'] {
    background: hsl(var(--clr-primary-400));
}
.switch.variant-default[data-color='primary']:is(:checked, [data-checked]) [data-part='control'][data-hover] {
    background: hsl(var(--clr-primary-500));
}
.switch.variant-default[data-color='primary']:is(:checked, [data-checked]) [data-part='control'][data-active] {
    background: hsl(var(--clr-primary-600));
}

.switch.variant-default[data-color='blue']:is(:checked, [data-checked]) [data-part='control'] {
    background: hsl(var(--clr-blue-400));
}
.switch.variant-default[data-color='blue']:is(:checked, [data-checked]) [data-part='control'][data-hover] {
    background: hsl(var(--clr-blue-600));
}
.switch.variant-default[data-color='blue']:is(:checked, [data-checked]) [data-part='control'][data-active] {
    background: hsl(var(--clr-blue-700));
}

/* switch is disabled */
.switch:is(:disabled, [data-disabled]) {
    cursor: auto;
}
.switch:is(:disabled, [data-disabled]) [data-part='control'] {
    background: hsl(var(--clr-grey-300));
}
.switch:is(:disabled, [data-disabled]) [data-part='thumb'] {
    background: hsl(var(--clr-grey-500));
}
.switch:is(:disabled, [data-disabled]) [data-part='label'] {
    color: hsl(var(--clr-grey-400));
}

/* hidden input */

.hiddenInputFixed {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 0px;
    height: 0px;
    opacity: 0;
    pointer-events: none;
}
