.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 8px;
    border-radius: 12px;
    background: var(--background-primary, #fff);
    box-shadow: 0 4px 8px 0 rgba(91, 118, 168, 0.12);
    color: var(--content-tertiary, #666) !important;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    padding: 8px;
    color: var(--content-tertiary, #666) !important;
    font-feature-settings:
        'liga' off,
        'clig' off;
    font-family: Poppins;
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20, 20px); /* 142.857% */
    transition: all 0.3s ease;
    min-width: 200px;
}

.item:hover {
    background: var(--background-secondary, #f3f3f3);
    color: var(--content-primary, #1a1a1a);
}

.seperator {
    height: 0.5px;
    background-color: hsl(var(--clr-white-800));
}
