.uploadWrapper {
    display: flex;
    gap: 24px;
}

.horizontalProgress {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.verticalProgress {
    flex-direction: column;
}

.uploadBox {
    display: flex;
    border-radius: var(--br-3xl);
    border: 1px dashed var(--border-primary, #666);
    padding: 24px;
    cursor: pointer;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.uploadContent {
    display: flex;
    gap: 12px;
    text-align: center;
}

.uploadContent.vertical {
    flex-direction: column;
    align-items: center;
}

.uploadContent.horizontal {
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.uploadIcon {
    font-size: 32px;
}

.uploadText {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.uploadText p {
    color: var(--Content-Primary, #1a1a1a);
    text-align: center;
    font-size: var(--Font-Size-16, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Font-Line-height-20, 20px); /* 125% */
}

.uploadText small {
    color: var(--Content-Tertiary, #666);
    text-align: center;
    font-size: var(--Font-Size-14, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Font-Line-height-20, 20px); /* 142.857% */
}

.errorText {
    color: #d92d20;
    font-size: 14px;
    margin-top: 8px;
}

.uploadList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.uploadItem {
    background: #fff;
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #e5e7eb;
    position: relative;
}

.uploadItemLeft {
    display: flex;
    gap: 12px;
    align-items: center;
}

.fileIcon {
    width: 40px;
    height: 40px;
    border-radius: var(--br-md, 4px);
    background: var(--border-subtle, #ebebeb);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileDetails {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.fileName {
    font-weight: 600;
    font-size: 14px;
    color: #101828;
}

.fileSize {
    font-size: 13px;
    color: #667085;
}

.progressText {
    font-size: 13px;
    color: #344054;
}

.completedText {
    font-size: 13px;
    color: #12b76a;
}

.failedText {
    font-size: 13px;
    color: #f04438;
}

.errorMessage {
    font-size: 12px;
    color: #f04438;
}

.removeButton {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #667085;
    cursor: pointer;
}

.progressBar {
    height: 4px;
    background: #f2f4f7;
    border-radius: 4px;
    margin-top: 8px;
    overflow: hidden;
}

.progress {
    height: 100%;
    transition: width 0.3s ease;
}
