.chip {
    display: inline-flex;
    align-items: center;
    font-size: var(--fs-16);
    padding: var(--space-300) var(--space-450);
    border-radius: 999px;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease-in-out;
    padding: var(--space-200, 4px) var(--space-250, 6px);
    gap: var(--space-100, 2px);
    border-radius: var(--br-xl);
    height: 26px;
}

.outline {
    border: 1px solid var(--border-brand);
    color: var(--content-tertiary);
    font-size: var(--fs-14);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20);
}

.fill {
    background: var(--background-brand);
    color: var(--content-secondary-inverse);
    border: 1px solid var(--border-brand);
    font-size: var(--fs-14);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20);
}

.outlined-fill {
    border: 1px solid var(--border-brand);
    background: var(--background-selected);
    color: var(--content-brand);
    font-size: var(--fs-14);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20);
}

.left,
.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    white-space: nowrap;
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20, 20px);
}

.chip.outline .label {
    color: var(--content-tertiary);
}

.chip.fill .label {
    color: var(--content-secondary-inverse);
}

.chip.outlined-fill .label {
    color: var(--content-brand);
}
