.textarea {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-200);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--pm-150);
}

.labelWithIcon {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.textarea label {
    color: var(--content-secondary);
    font-size: var(--fs-12);
    font-style: normal;
    font-weight: 600;
    line-height: var(--lh-14);
    margin-bottom: 4px;
}

.labelInfo {
    display: inline-flex;
    line-height: 0;
    color: var(--content-tertiary);
    cursor: default;
}
.labelInfo:hover {
    color: var(--content-secondary);
}

.details {
    color: var(--content-secondary);
    text-align: right;
    font-size: var(--fs-12);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-16);
    margin-bottom: 4px;
}

.fieldWrapper {
    position: relative;
}

.textareaField {
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    border-radius: var(--br-3xl);
    background: var(--background-primary, #fff);
    transition: all 0.3s ease;
    border: 1px solid var(--border-tertiary, #ccc);

    font-size: var(--fs-14);
    padding: 10px 10px;
}

.textareaField[data-height='100'] {
    min-height: 100px;
}
.textareaField[data-height='120'] {
    min-height: 120px;
}
.textareaField[data-height='140'] {
    min-height: 140px;
}
.textareaField[data-height='160'] {
    min-height: 160px;
}
.textareaField[data-height='200'] {
    min-height: 200px;
}

.textareaField[data-size='small'] {
    font-size: 12px;
    padding: 6px 10px;
}
.textareaField[data-size='medium'] {
    font-size: 14px;
}
.textareaField[data-size='default'] {
    font-size: 16px;
    padding: 10px 14px;
}

.textareaField:hover {
    background: var(--background-disabled);
}
.textareaField:focus-visible {
    border: 1px solid var(--border-brand);
    background: var(--background-primary);
}

.textareaField[data-status='success'] {
    border-color: var(--border-positive);
    background: var(--background-primary);
}
.textareaField[data-status='success']:hover {
    border-color: var(--border-positive);
}
.textareaField[data-status='success']:focus-visible {
    border-color: var(--border-positive);
}

.textareaField[data-status='error'],
.textareaField[data-error='true'] {
    border: 1px solid var(--border-negative);
    background: var(--background-primary);
}
.textareaField[data-status='error']:hover,
.textareaField[data-error='true']:hover {
    border-color: var(--border-negative);
}
.textareaField[data-status='error']:focus-visible,
.textareaField[data-error='true']:focus-visible {
    border-color: var(--border-negative);
}

.helper {
    color: var(--content-tertiary);
    font-size: var(--fs-10);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-12, 12px);
}

.errorText {
    color: var(--content-negative);
    font-size: var(--fs-10);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-12);
    margin-top: var(--pm-100);
}

.fieldInfo {
    position: absolute;
    top: 8px;
    right: 10px;
    display: inline-flex;
    line-height: 0;
    color: var(--content-tertiary);
    pointer-events: auto;
}
.fieldInfo:hover {
    color: var(--content-secondary);
}

.counter {
    position: absolute;
    left: 12px;
    bottom: 12px;
    font-size: var(--fs-10);
    line-height: var(--lh-12);
    color: var(--content-tertiary);
    user-select: none;
    pointer-events: none;

    color: var(--content-tertiary);

    font-size: var(--fs-10);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-12);
}

.fieldWrapper .textareaField[data-status='error'] ~ .counter {
    color: var(--content-negative);
}
.fieldWrapper .textareaField[data-status='success'] ~ .counter {
    color: var(--content-positive);
}
