/* Root */
.root {
    display: flex;
    flex-direction: column;
    gap: var(--space-200, 4px);
    align-items: flex-start;
    width: 100%;
}

/* Input Header */
.inputHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.label {
    color: var(--content-secondary, #333);
    font-size: var(--fs-12, 12px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--lh-14, 14px);
}

.details {
    color: var(--content-secondary, #333);
    font-size: var(--fs-12, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-16, 16px);
}

.root:has(.input:disabled) .label,
.root:has(.input:disabled) .details {
    color: var(--content-disabled, #a6a6a6);
}

/* Input */
.inputContainer {
    position: relative;
    width: 100%;
}

.inputContainer .input {
    width: 100%;
    display: flex;
    align-items: center;
    align-self: stretch;
    background: var(--background-primary, #fff);
    outline: none;
    transition: all 0.2s ease-in-out;

    color: var(--content-tertiary, #666);
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20, 20px);
    border: 1px solid var(--border-tertiary, #ccc);
}

.inputContainer .input::placeholder {
    color: var(--content-tertiary, #666);
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20, 20px);
    transition: all 0.2s ease-in-out;
}

.inputContainer .input:not(:disabled):not(:focus-within):hover {
    border: 1px solid var(--border-tertiary, #ccc);
    background: var(--background-secondary, #f3f3f3);
    color: var(--content-secondary, #333);
}

.inputContainer .input:not(:disabled):not(:focus-within):hover::placeholder {
    color: var(--content-secondary, #333);
}

.inputContainer .input:focus-within {
    border: 1px solid var(--border-brand, #0d3caf);
    background: var(--background-primary, #fff);
    color: var(--content-tertiary, #666);
}

.inputContainer .input:focus-within::placeholder {
    color: var(--content-tertiary, #666);
}

.inputContainer .input:not(:focus):not(:placeholder-shown):not(.error) {
    border: 1px solid var(--border-tertiary, #ccc);
    background: var(--background-secondary, #f3f3f3);
    color: var(--content-secondary, #333);
}

.inputContainer .input:not(:focus):not(:placeholder-shown):not(.error)::placeholder {
    color: var(--content-secondary, #333);
}

/* ------------------------------ */

.inputContainer .input:disabled {
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    border: 1px solid var(--border-disabled, #ccc);
}
.inputContainer .input:disabled::placeholder {
    color: var(--content-disabled, #a6a6a6);
}

.inputContainer .input.error {
    background: var(--background-primary, #fff);
    border: 1px solid var(--border-negative, #f44336);
}

.inputContainer .input.success {
    background: var(--background-primary, #fff);
    border: 1px solid var(--border-positive, #38c172);
}

/* Size */
.input.size-32 {
    height: 32px;
    border-radius: var(--br-2xl, 12px);
    padding: var(--space-300, 8px);
}
.input.size-32.icon-position-right {
    padding-right: var(--space-650, 40px);
}
.input.size-32.icon-position-left {
    padding-left: var(--space-650, 40px);
}

.input.size-36 {
    height: 36px;
    border-radius: var(--br-2xl, 12px);
    padding: var(--space-300, 8px);
}
.input.size-36.icon-position-right {
    padding-right: var(--space-650, 40px);
}
.input.size-36.icon-position-left {
    padding-left: var(--space-650, 40px);
}

.input.size-44 {
    height: 44px;
    border-radius: var(--br-2xl, 12px);
    padding: var(--space-400, 14px) var(--space-450, 16px);
}
.input.size-44.icon-position-right {
    padding-right: var(--space-650, 40px);
}
.input.size-44.icon-position-left {
    padding-left: var(--space-650, 40px);
}

.input.size-48 {
    height: 48px;
    border-radius: var(--br-3xl, 16px);
    padding: var(--space-400, 14px) var(--space-450, 16px);
}
.input.size-48.icon-position-right {
    padding-right: var(--space-650, 40px);
}
.input.size-48.icon-position-left {
    padding-left: var(--space-650, 40px);
}

.input.size-52 {
    height: 52px;
    border-radius: var(--br-3xl, 16px);
    padding: var(--space-450, 16px);
}
.input.size-52.icon-position-right {
    padding-right: var(--space-650, 40px);
}
.input.size-52.icon-position-left {
    padding-left: var(--space-650, 40px);
}

/* Icon */
.inputContainer .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.inputContainer .icon.icon-position-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.inputContainer .icon.icon-position-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}

/* Description */
.helperText {
    color: var(--content-tertiary, #666);
    font-size: var(--fs-10, 10px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-12, 12px);
}
.root:has(.input:disabled) .helperText {
    color: var(--content-disabled, #a6a6a6);
}

.root:has(.input:not(:disabled).error) .helperText {
    color: var(--content-negative, #f44336);
}

.root:has(.input:not(:disabled).success) .helperText {
    color: var(--content-positive, #38c172);
}
