/* Root */
.root {
    display: flex;
    flex-direction: column;
    gap: var(--gap-200);
    align-items: flex-start;
}

/* Input Header */
.inputHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.label {
    color: var(--content-secondary, #333);
    font-size: var(--fs-12, 12px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--lh-14, 14px);
}

.details {
    color: var(--content-secondary, #333);
    font-size: var(--fs-12, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-16, 16px);
}

/* Input */
.inputContainer {
    position: relative;
    width: 100%;
}

.inputContainer .input {
    width: 100%;
    display: flex;
    align-items: center;
    align-self: stretch;
    background: var(--background-teritary, #ebebeb);
    outline: none;
    transition: all 0.2s ease-in-out;

    color: var(--content-secondary, #333);
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20, 20px);
    border: 1px solid transparent;
}

.inputContainer .input::placeholder {
    color: var(--content-tertiary, #666);
    font-size: var(--fs-16, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20, 20px);
    transition: all 0.2s ease-in-out;
}

.inputContainer .input:not(:disabled):not(:focus-within):hover {
    background: var(--background-disabled, #f3f3f3);
}

.inputContainer .input:not(:disabled):not(:focus-within):hover::placeholder {
    color: var(--content-secondary, #333);
}

.inputContainer .input:focus-within {
    border: 1px solid var(--border-brand, #0d3caf);
    background: var(--background-primary, #fff);
}

.inputContainer .input:focus-within::placeholder {
    color: var(--content-tertiary, #666);
}

.inputContainer .input:not(:focus):not(:placeholder-shown) {
    border: 1px solid var(--border-tertiary, #ccc);
    background: var(--background-secondary, #f3f3f3);
}

.inputContainer .input:disabled {
    border-radius: var(--br-3xl, 16px);
    background: var(--background-disabled, #f3f3f3);
}

/* Size */
.input.size-36.icon-position-right {
    padding: var(--pm-200, 8px) 40px var(--pm-200, 8px) var(--pm-200, 8px);
    border-radius: var(--br-2xl, 12px);
}
.input.size-36.icon-position-left {
    padding: var(--pm-200, 8px) var(--pm-200, 8px) var(--pm-200, 8px) 40px;
    border-radius: var(--br-2xl, 12px);
}

.input.size-44.icon-position-right {
    height: 44px;
    padding: var(--pm-300, 14px) 40px var(--pm-300, 14px) var(--pm-350, 16px);
    border-radius: var(--br-2xl, 12px);
}
.input.size-44.icon-position-left {
    height: 44px;
    padding: var(--pm-300, 14px) var(--pm-350, 16px) var(--pm-300, 14px) 40px;
    border-radius: var(--br-2xl, 12px);
}

.input.size-48.icon-position-right {
    padding: var(--pm-300, 14px) 40px var(--pm-300, 14px) var(--pm-350, 16px);
    border-radius: var(--br-3xl, 16px);
}
.input.size-48.icon-position-left {
    padding: var(--pm-300, 14px) var(--pm-350, 16px) var(--pm-300, 14px) 40px;
    border-radius: var(--br-3xl, 16px);
}

.input.size-52.icon-position-right {
    height: 40px;
    padding: var(--pm-350) 40px var(--pm-350) var(--pm-350);
    border-radius: var(--br-3xl, 16px);
}
.input.size-52.icon-position-left {
    height: 40px;
    padding: var(--pm-350) var(--pm-350) var(--pm-350) 40px;
    border-radius: var(--br-3xl, 16px);
}

/* Icon */
.inputContainer .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.inputContainer .icon.icon-position-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.inputContainer .icon.icon-position-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}

/* Description */
.helperText {
    color: var(--content-tertiary, #666);
    font-size: var(--fs-10, 10px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-12, 12px);
}

.errorText {
    color: var(--content-negative, #f44336);
    font-size: var(--fs-10, 10px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-12, 12px);
}
