.header {
    height: 52px;
    background: hsl(var(--clr-white-200));
    padding: var(--pm-200, 8px) var(--pm-400, 16px);
    width: 100%;

    /* border-bottom: 1px solid var(--Neutral-50, #fafafa); */
    /* max-width: 1440px; */
}

.layout {
    display: flex;
    overflow: hidden;
    height: calc(100dvh - 48px);
    max-height: calc(100dvh - 48px);
}

/* Sidebar */
.layoutSidebar {
    position: relative;
    background: hsl(var(--clr-white-200));
    transition: all var(--animation-2);
    height: 100%;
}

.layoutSidebar.unpinned.small {
    width: 250px;
}

.layoutSidebar.unpinned.normal {
    width: 280px;
}

.layoutSidebar.unpinned.large {
    width: 330px;
}

.layoutSidebar.pinned {
    width: 76px;
}

/* Navbar */
.layoutNavbar {
    height: 50px;
    background: hsl(var(--clr-background));
    display: flex;
    align-items: center;
    /* background: hsl(var(--clr-blue-300));  */
    transition: all 0.3s ease;
}

/* Content */
.layoutContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    background: hsl(var(--clr-white-200));
}

.mainLayout {
    height: 100%;
    padding: 16px;
}

/* Toggle button */
.sidebarToggleBtn {
    position: absolute;
    border-radius: var(--r-300);
    background: hsl(var(--clr-white-50));
    color: hsl(var(--clr-primary-500));
    width: var(--wh-325);
    height: var(--wh-325);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(91, 118, 168, 0.12);
}

.sidebarToggleBtn.left {
    right: -35px;
    top: 35px;
}

.sidebarToggleBtn.right {
    left: -15px;
    top: 35px;
}

.sidebarToggleBtn > svg {
    transition: all var(--animation);
}

.sidebarToggleBtn.left > svg {
    transform: rotate(0);
}
.sidebarToggleBtn.pinned.left > svg {
    transform: rotate(180deg);
}

.sidebarToggleBtn.right > svg {
    transform: rotate(180deg);
}

.sidebarToggleBtn.pinned.right > svg {
    transform: rotate(0);
}

@media (max-width: 700px) {
    .layoutSidebar {
        display: none;
    }
    .unsupportedMessage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
        padding: 2rem;
        color: hsl(var(--clr-primary-500));
    }
    .unsupportedMessage h2 {
        font-size: 2rem;
    }
}
