.header {
    height: 52px;
    background: var(--background-secondary, #f3f3f3);
    padding:  8px 16px;
    width: 100%;
}

.layout {
    display: flex;
    overflow: hidden;
    height: calc(100dvh - 48px);
    max-height: calc(100dvh - 48px);
}

.layoutSidebar {
    position: relative;
    transition: width 0.3s ease;
    height: 100%;
    background: var(--background-secondary, #f3f3f3);
}

.layoutSidebar.unpinned.small {
    width: 250px;
}

.layoutSidebar.unpinned.normal {
    width: 280px;
}

.layoutSidebar.unpinned.large {
    width: 330px;
}

.layoutSidebar.pinned {
    width: 76px;
}

/* Navbar */
.layoutNavbar {
    height: 50px;
    background: hsl(var(--clr-background));
    display: flex;
    align-items: center;
    /* background: hsl(var(--clr-blue-300));  */
    transition: all 0.3s ease;
}

/* Content */
.layoutContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    background: var(--background-secondary, #f3f3f3);
}

.mainLayout {
    height: 100%;
    padding: 16px;
}

/* Toggle button */
.sidebarToggleBtn {
    position: absolute;
    color: hsl(var(--clr-primary-500));
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    z-index: 100;

    display: flex;
    width: 29px;
    height: 29px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 12px;
    border: 1px solid var(--border-inverse, #fff);
    background: var(--background-primary, #fff);

    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.1),
        0 0 4px 0 rgba(0, 0, 0, 0.08);
}

.sidebarToggleBtn.left {
    right: -35px;
    top: 35px;
}

.sidebarToggleBtn.right {
    left: -15px;
    top: 35px;
}

.sidebarToggleBtn > svg {
    transition: all var(--animation);
}

.sidebarToggleBtn.left > svg {
    transform: rotate(0);
}
.sidebarToggleBtn.pinned.left > svg {
    transform: rotate(180deg);
}

.sidebarToggleBtn.right > svg {
    transform: rotate(180deg);
}

.sidebarToggleBtn.pinned.right > svg {
    transform: rotate(0);
}

@media (max-width: 700px) {
    .layoutSidebar {
        display: none;
    }
    .unsupportedMessage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
        padding: 2rem;
        color: hsl(var(--clr-primary-500));
    }
    .unsupportedMessage h2 {
        font-size: 2rem;
    }
}
