/* Banner */
.banner {
    display: flex;
    padding: var(--space-450, 16px);
    gap: var(--space-350, 12px);
    border-radius: var(--br-xl, 8px);
    border: 1px solid var(--border-inverse, #fff);
    overflow: hidden;
    position: relative;
    width: 100%;
}

.banner.web {
    align-items: center;
}

.banner.mobile {
    align-items: start;
}

.banner::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
}

.banner.success {
    background: var(
        --success-gradient,
        linear-gradient(90deg, var(--background-positive-subtle, #d7f3e3) 0%, var(--background-primary, #fff) 25.48%)
    );
}
.banner.success::before {
    background: var(--content-positive, #38c172);
}

.banner.info {
    background: var(
        --blue-gradient,
        linear-gradient(90deg, var(--background-info-subtle, #d6e6f4) 0%, var(--background-primary, #fff) 25.48%)
    );
}
.banner.info::before {
    background: var(--content-link, #3183c8);
}

.banner.warning {
    background: var(
        --yellow-gradient,
        linear-gradient(90deg, var(--background-notice-subtle, #fdf4e0) 0%, var(--background-primary, #fff) 25.48%)
    );
}
.banner.warning::before {
    background: var(--content-notice, #f7cb61);
}

.banner.error {
    background: var(
        --red-gradient,
        linear-gradient(90deg, var(--background-negative-subtle, #fdd9d7) 0%, var(--background-primary, #fff) 25.48%)
    );
}
.banner.error::before {
    background: var(--content-negative, #f44336);
}

/* Main content */
.main {
    display: flex;
    gap: var(--space-350, 12px);
    width: 100%;
}

.banner.horizontal .main {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner.vertical .main,
.banner.mobile .main {
    flex-direction: column;
    align-items: flex-start;
}

/* Info content */
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-350, 12px);
}

.banner.web .info {
    gap: var(--space-350, 12px);
}

.banner.mobile .info,
.banner.vertical .info {
    gap: var(--space-325, 10px);
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-200, 4px);
}

.content .title {
    color: var(--content-primary, #1a1a1a);
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--lh-20, 20px);
}

.content .description {
    color: var(--content-secondary, #333);
    font-size: var(--fs-12, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-14, 14px);
}

/* Close */
.close {
    background: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
}

.close svg {
    color: var(--content-secondary, #333);
    stroke: var(--content-secondary, #333);
}

/* Actions */
.action {
    display: flex;
    align-items: center;
    gap: var(--space-300, 8px);
}

.banner.vertical .action,
.banner.banner.mobile .action {
    padding: 0 var(--space-600, 32px);
}

/* Icons */
.warningIcon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--br-lg, 6px);
    background: var(--content-notice, #f7cb61);
}
