.banner {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 16px 20px;
    border-radius: var(--br-xl, 8px);
    border: 1px solid var(--border-inverse, #fff);
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.banner::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
}

.left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2px;
}

.icon {
    flex-shrink: 0;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.title {
    color: var(--content-primary, #1a1a1a);
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--lh-20, 20px);
}

.description {
    color: var(--content-secondary, #333);
    font-size: var(--fs-12, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-14, 14px);
}

.action {
    display: flex;
    margin-left: 8px;
}

.horizontal {
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.vertical {
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.close {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
    color: inherit;
    margin-left: 8px;
}

.success {
    background: var(
        --success-gradient,
        linear-gradient(90deg, var(--background-positive-subtle, #d7f3e3) 0%, var(--background-primary, #fff) 25.48%)
    );
}

.error {
    background: var(
        --red-gradient,
        linear-gradient(90deg, var(--background-negative-subtle, #fdd9d7) 0%, var(--background-primary, #fff) 25.48%)
    );
}

.warning {
    background: var(
        --yellow-gradient,
        linear-gradient(90deg, var(--background-notice-subtle, #fdf4e0) 0%, var(--background-primary, #fff) 25.48%)
    );
}

.info {
    background: var(
        --blue-gradient,
        linear-gradient(90deg, var(--bckground-info-subtle, #d6e6f4) 0%, var(--background-primary, #fff) 25.48%)
    );
}

.success::before {
    background-color: var(--background-positive);
}
.error::before {
    background-color: var(--background-negative);
}
.warning::before {
    background-color: var(--background-notice);
}
.info::before {
    background-color: var(--background-info);
}

.mobile {
    width: 360px;
    max-width: 100%;
    padding: 14px 16px;
    gap: 10px;
}
