.navbar {
    width: 100%;
    padding: 16px;
    background: var(--background-secondary, #f3f3f3);
}

.navList {
    display: flex;
    gap: 16px;
    margin: 0;
}

.navItem {
    position: relative;
    color: var(--content-tertiary, #666);
    font-feature-settings:
        'liga' off,
        'clig' off;
    font-family: Poppins;
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-20, 20px); /* 142.857% */

    transition: all 0.3s ease;

    border-radius: 12px;
}

.navItem:hover {
    background: var(--background-primary, #fff) !important;
    color: var(--content-primary, #1a1a1a) !important;
}

.navButton {
    padding: 8px 16px;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: hsl(var(--clr-grey-700));
    font-feature-settings:
        'liga' off,
        'clig' off;

    /* 14/Medium */
    font-family: 'DM Sans';
    font-size: var(--fs-100);
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--pm-200);
}

.subMenu {
    position: absolute;
    left: 0;
    margin-top: 35px;

    border-radius: 12px;
    background: var(--background-primary);

    /* Shadow/L2 */
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.1),
        0 0 4px 0 rgba(0, 0, 0, 0.08);

    width: 150px;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;

    overflow: hidden;
}

.active {
    color: var(--content-brand, #0d3caf);
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-20, 20px); /* 142.857% */
}

.subMenu.open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.subMenuDown {
    top: calc(100% - 30px);
    bottom: auto;
    transform-origin: top center;
    transform: translateY(-10px);
}

.subMenuUp {
    bottom: calc(100% + 8px);
    top: auto;
    transform-origin: bottom center;
    transform: translateY(10px);
}

.subMenuItem {
    cursor: pointer;
    padding: 8px 16px;
    width: 100%;
    transition: all 0.2s ease;
    border-radius: 12px;

    color: var(--content-tertiary, #666);
    font-feature-settings:
        'liga' off,
        'clig' off;

    /* 14/Medium */
    font-family: Poppins;
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-20, 20px); /* 142.857% */
}

.subMenuItem:hover {
    background: var(--background-primary, #fff) !important;
    color: var(--content-primary, #1a1a1a) !important;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}
.rotated {
    transform: rotate(180deg);
}
