.base {
    transition: all 0.3s ease;
    font-weight: 500;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid transparent;

    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    /* flex: 1 1 0; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Variant: default */
.default {
    border-radius: var(--Corner-Small, 8px);
    color: #002c68;
    border-color: #ebeef2;
    color: var(--Foundation-Blue-blue-900, #002c68);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: white;
}

/* Variant: primary */
.primary {
    color: #007bff;
    border-color: #007bff;
    color: var(--blue-accent, #0078d7);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    border-radius: var(--Corner-Small, 8px);
    background-color: white;
    line-height: normal;
}

/*  Variant: secondary */

.secondary {
    color: var(--Foundation-Blue-blue-900, #002c68);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 12px;
    background: var(--foundation-blue-white-active, #f5f7f9);
}

/* Variant : tertiary */

.tertiary {
    border-radius: 12px;
    border: 1px solid var(--Foundation-Blue-blue-500, #0068f7);
    background: var(--Foundation-primary-blue-500, #0d3caf);
    color: var(--white-light-mode, #fff);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
