@import 'tailwindcss';
@import 'tw-animate-css';

/* Overlay */
.overlay {
    position: fixed !important;
    inset: 0 !important;
    background: #000 !important;
    opacity: 0.6 !important;
    z-index: 100 !important;
}

.overlay[data-state='open'] {
    animation: enter var(--tw-duration) var(--tw-ease);

    --tw-enter-opacity: calc(0 / 100);
    --tw-enter-opacity: 0;
}

.overlay[data-state='closed'] {
    animation: exit var(--tw-duration) var(--tw-ease);

    --tw-exit-opacity: calc(0 / 100);
    --tw-exit-opacity: 0;
}

/* Dialog Content */
.content {
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 110;
    width: 100%;
    gap: 20px;
    padding: 28px;
    background: #fff;
    border-radius: 16px 16px 0 0;
    animation: all 0.3s ease-in-out;
}

.content[data-state='open'] {
    @apply animate-in slide-in-from-bottom-100 slide-in-from-right-0 duration-300;
}

.content[data-state='closed'] {
    @apply animate-out slide-out-to-bottom-100 slide-out-to-right-0 duration-300;
}

/* Dialog Header */
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
}

@media screen and (min-width: 640px) {
    .header {
        text-align: left;
    }
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
}

@media screen and (min-width: 640px) {
    .footer {
        flex-direction: row;
        justify-content: flex-end;
    }
}

/* Title */
.title {
    color: hsl(var(--clr-primary-900));
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Close */
.close {
    position: absolute;
    left: -36px;
    top: 20px;
    padding: 10px;
    z-index: 100;

    border-radius: 16px 0px 0px 16px;
    background: hsl(var(--clr-primary-500));
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Description */
.description {
    font-size: 14px;
}
