.settingsHeader {
    display: flex;
    flex-direction: column;
    align-items: var(--global-justify-content);
    gap: var(--pm-100);
    margin-bottom: var(--pm-600);
}

.settingsHeader .headerTitle {
    color: var(--clr-primary-900, #05194a);
    font-size: var(--fs-100);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.settingsHeader .headerDescription {
    color: hsl(var(--clr-grey-400));
    font-size: var(--fs-50);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Sortable Item */
.sortableItem {
    display: flex;
    padding: var(--pm-400);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: var(--r-300) var(--r-300) var(--r-300) var(--r-300);
    background: hsl(var(--clr-white-600));
}

.label {
    overflow: hidden;
    color: hsl(var(--clr-grey-600));
    text-overflow: ellipsis;
    font-size: var(--fs-50);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.singleItem {
    border-radius: var(--r-300) var(--r-300) 0 0;
    border-bottom: 1px solid hsl(var(--clr-primary-500));
}

.singleItemLabel {
    font-size: var(--fs-100);
}

.noborder {
    border-radius: 0;
}

.noborder:last-child {
    border-radius: 0 0 var(--r-300) var(--r-300);
}

.subLinksContainer {
    max-height: 200px;
    overflow-y: auto;
}
