.pageHeaderContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--pm-400);
    padding: var(--pm-200) var(--pm-400) var(--pm-400) var(--pm-400);
    height: var(--wh-500);
    min-height: 72px;
    /* background-color: red; */
}
.leftSide {
    display: flex;
    align-items: center;
    gap: var(--pm-500);
    /* min-height: 38px; */
}
.icon {
    /* width: 24px; */
    /* height: 24px; */
    padding: var(--pm-300);
    border-radius: var(--r-300);
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--pm-100);
}
.leftSide h3 {
    color: hsl(var(--clr-primary-900));
    font-size: var(--fs-200);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
}
.rightSide {
    min-height: 38px;
}