/* Base styles */
.btn {
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
    scale: 1;
    text-decoration: none;
    border: none;
}

.btn.animation {
    transition:
        all 0.25s ease-in-out,
        border-width 0.1s ease-in-out;
}

/* Loading */
.loading {
    cursor: default;
}

/* Primary button */
.primary-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--background-brand, #0d3caf);
    color: var(--content-brand-light, #e7eefd);
    text-align: center;
    font-style: normal;
}
.primary-primary.loading {
    background: var(--background-selected, #e7eefd);
}
.primary-primary:not(.loading):hover {
    background: var(--background-selected);
    color: var(--content-brand, #0d3caf);
}
.primary-primary:not(.loading):active {
    background: var(--background-selected, #fff);
    color: var(--content-brand, #0d3caf);
}
.primary-primary:not(.loading):disabled {
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

.primary-red {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--background-negative, #f44336);
    color: var(--content-primary-inverse, #fff);
    text-align: center;
    font-style: normal;
}
.primary-red.loading {
    background: var(--background-negative-subtle, #fdd9d7);
}
.primary-red:not(.loading):hover {
    background: var(--background-negative-subtle, #fdd9d7);
    color: var(--content-negative, #f44336);
}
.primary-red:not(.loading):active {
    background: var(--background-negative-subtle, #fdd9d7);
    color: var(--content-negative, #f44336);
}
.primary-red:not(.loading):disabled {
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

.primary-green {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--background-positive, #38c172);
    color: var(--content-primary-inverse, #fff);
    text-align: center;
    font-style: normal;
}
.primary-green.loading {
    background: var(--background-positive-subtle, #fdd9d7);
}
.primary-green:not(.loading):hover {
    background: var(--background-positive-subtle, #fdd9d7);
    color: var(--content-positive, #38c172);
}
.primary-green:not(.loading):active {
    background: var(--background-positive-subtle, #fdd9d7);
    color: var(--content-positive, #38c172);
}
.primary-green:not(.loading):disabled {
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

.primary-secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--background-secondary-brand, #f5f7f9);
    color: var(--content-secondary-brand-bold, #4b637c);
    text-align: center;
    font-style: normal;
}
.primary-secondary.loading {
    background: var(--background-secondary-selected, #fff);
}
.primary-secondary:not(.loading):hover {
    background: var(--background-secondary-brand-hover, #9cb0c4);
    color: var(--content-inverse-secondary-brand-bold, #f5f7f9);
}
.primary-secondary:not(.loading):hover svg {
    stroke: var(--content-inverse-secondary-brand-bold, #f5f7f9);
    color: var(--content-inverse-secondary-brand-bold, #f5f7f9);
}
.primary-secondary:not(.loading):active {
    background: var(--background-secondary-brand-hover, #9cb0c4);
    color: var(--content-inverse-secondary-brand-bold, #f5f7f9);
}
.primary-secondary:not(.loading):disabled {
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    border: none;
    cursor: default;
}

/* Outlined button */
.outlined-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--border-brand, #0d3caf);
    background: transparent;
    color: var(--content-brand, #0d3caf);
    text-align: center;
    font-style: normal;
}
.outlined-primary.loading {
    border: 1px solid var(--border-brand, #0d3caf);
}
.outlined-primary:not(.loading):hover {
}
.outlined-primary:not(.loading):active {
    border: 2px solid var(--border-brand, #0d3caf);
}
.outlined-primary:not(.loading):disabled {
    border: 1px solid var(--border-disabled, #ccc);
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

.outlined-red {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--border-negative, #f44336);
    background: transparent;
    color: var(--content-negative, #f44336);
    text-align: center;
    font-style: normal;
}
.outlined-red.loading {
    border: 1px solid var(--border-negative, #f44336);
}
.outlined-red:not(.loading):hover {
}
.outlined-red:not(.loading):active {
    border: 2px solid var(--border-negative, #f44336);
}
.outlined-red:not(.loading):disabled {
    border: 1px solid var(--border-disabled, #ccc);
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

.outlined-green {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--border-positive, #38c172);
    background: transparent;
    color: var(--content-positive, #38c172);
    text-align: center;
    font-style: normal;
}
.outlined-green.loading {
    border: 1px solid var(--border-positive, #38c172);
}
.outlined-green:not(.loading):hover {
}
.outlined-green:not(.loading):active {
    border: 2px solid var(--border-positive, #38c172);
}
.outlined-green:not(.loading):disabled {
    border: 1px solid var(--border-disabled, #ccc);
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

.outlined-secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--border-secondary-brand, #f5f7f9);
    background: transparent;
    color: var(--content-secondary-brand-bold, #4b637c);
    text-align: center;
    font-style: normal;
}
.outlined-secondary.loading {
}
.outlined-secondary:not(.loading):hover {
}
.outlined-secondary:not(.loading):active {
    border: 2px solid var(--border-secondary-brand, #f5f7f9);
}
.outlined-secondary:not(.loading):disabled {
    border: 1px solid var(--border-disabled, #ccc);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

/* Ghost button */
.ghost-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--content-brand, #0d3caf);
    text-align: center;
    font-style: normal;
}
.ghost-primary.loading {
}
.ghost-primary:not(.loading):hover {
    color: var(--content-brand-bold, #061d55);
}
.ghost-primary:not(.loading):active {
    color: var(--content-brand, #0d3caf);
}
.ghost-primary:not(.loading):disabled {
    color: var(--content-brand, #0d3caf);
    cursor: default;
}

.ghost-red {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--content-secondary, #333);
    text-align: center;
    font-style: normal;
}
.ghost-red.loading {
}
.ghost-red:not(.loading):hover {
    color: var(--content-tertiary, #666);
}
.ghost-red:not(.loading):active {
    color: var(--content-secondary, #333);
}
.ghost-red:not(.loading):disabled {
    color: var(--content-secondary, #333);
    cursor: default;
}

.ghost-green {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--content-secondary, #333);
    text-align: center;
    font-style: normal;
}
.ghost-green.loading {
}
.ghost-green:not(.loading):hover {
    color: var(--content-tertiary, #666);
}
.ghost-green:not(.loading):active {
    color: var(--content-secondary, #333);
}
.ghost-green:not(.loading):disabled {
    color: var(--content-secondary, #333);
    cursor: default;
}

.ghost-secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--content-secondary-brand-bold, #4b637c);
    text-align: center;
    font-style: normal;
}
.ghost-secondary.loading {
}
.ghost-secondary:not(.loading):hover {
}
.ghost-secondary:not(.loading):active {
}
.ghost-secondary:not(.loading):disabled {
    cursor: default;
}

/* Inverse button */
.inverse-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--background-selected, #e7eefd);
    color: var(--content-brand, #0d3caf);
    text-align: center;
    font-style: normal;
}
.inverse-primary.loading {
    background: var(--background-selected, #e7eefd);
}
.inverse-primary:not(.loading):hover {
    background: var(--background-primary, #fff);
    color: var(--content-brand, #0d3caf);
}
.inverse-primary:not(.loading):active {
    background: var(--background-primary, #fff);
    color: var(--content-brand, #0d3caf);
}
.inverse-primary:not(.loading):disabled {
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

.inverse-red {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--background-negative-subtle, #fdd9d7);
    color: var(--content-negative, #f44336);
    text-align: center;
    font-style: normal;
}
.inverse-red.loading {
    background: var(--background-negative-subtle, #fdd9d7);
}
.inverse-red:not(.loading):hover {
    background: var(--background-primary, #fff);
    color: var(--content-negative, #f44336);
}
.inverse-red:not(.loading):active {
    background: var(--background-primary, #fff);
    color: var(--content-negative, #f44336);
}
.inverse-red:not(.loading):disabled {
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

.inverse-green {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--background-positive-subtle, #d7f3e3);
    color: var(--content-positive, #38c172);
    text-align: center;
    font-style: normal;
}
.inverse-green.loading {
    background: var(--background-positive-subtle, #d7f3e3);
}
.inverse-green:not(.loading):hover {
    background: var(--background-primary, #fff);
}
.inverse-green:not(.loading):active {
    background: var(--background-primary, #fff);
}
.inverse-green:not(.loading):disabled {
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

.inverse-secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--background-secondary-selected, #fff);
    color: var(--content-secondary, #333);
    text-align: center;
    font-style: normal;
}
.inverse-secondary.loading {
    background: var(--background-secondary-selected, #fff);
}
.inverse-secondary:not(.loading):hover {
    background: var(--background-teritary, #ebebeb);
    color: var(--content-secondary-brand-bold, #4b637c);
}
.inverse-secondary:not(.loading):active {
    background: var(--background-teritary, #ebebeb);
    color: var(--content-secondary-brand-bold, #4b637c);
}
.inverse-secondary:not(.loading):disabled {
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

/* Size - 52 */
.primary-size-52 {
    padding: var(--space-450, 16px) var(--space-400, 14px);
    height: 52px;
    border-radius: var(--br-5xl, 20px);
    gap: var(--space-200, 4px);
    font-size: var(--fs-16, 16px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.outlined-size-52 {
    padding: var(--space-450) var(--space-400, 14px);
    height: 52px;
    border-radius: var(--br-5xl, 20px);
    gap: var(--space-200, 4px);
    font-size: var(--fs-16, 16px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.ghost-size-52 {
    padding: var(--space-300, 8px) 0;
    border-radius: var(--br-5xl, 20px);
    gap: var(--space-200, 4px);
    font-size: var(--fs-16, 16px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.inverse-size-52 {
    padding: var(--space-450) var(--space-400, 14px);
    height: 52px;
    border-radius: var(--br-5xl, 20px);
    gap: var(--space-200, 4px);
    font-size: var(--fs-16, 16px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}

/* Size - 48 */
.primary-size-48 {
    padding: var(--space-350, 12px);
    height: 48px;
    gap: var(--space-300, 8px);
    border-radius: var(--br-3xl, 16px);
    font-size: var(--fs-16, 16px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.outlined-size-48 {
    padding: var(--space-350, 12px);
    height: 48px;
    gap: var(--space-300, 8px);
    border-radius: var(--br-3xl, 16px);
    font-size: var(--fs-16, 16px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.ghost-size-48 {
    padding: var(--space-300, 8px) 0;
    gap: var(--space-300, 8px);
    border-radius: var(--br-3xl, 16px);
    font-size: var(--fs-16, 16px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.inverse-size-48 {
    padding: var(--space-350, 12px);
    height: 48px;
    gap: var(--space-300, 8px);
    border-radius: var(--br-3xl, 16px);
    font-size: var(--fs-16, 16px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}

/* Size - 44 */
.primary-size-44 {
    padding: var(--space-300, 8px) var(--space-400, 14px);
    height: 44px;
    gap: var(--space-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.outlined-size-44 {
    padding: var(--space-300, 8px) var(--space-400, 14px);
    height: 44px;
    gap: var(--space-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.ghost-size-44 {
    padding: var(--space-300, 8px) 0;
    gap: var(--space-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.inverse-size-44 {
    padding: var(--space-300, 8px) var(--space-400, 14px);
    height: 44px;
    gap: var(--space-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}

/* Size - 36 */
.primary-size-36 {
    padding: var(--space-300, 8px) var(--space-325, 10px);
    height: 36px;
    gap: var(--space-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.outlined-size-36 {
    padding: var(--space-300, 8px) var(--space-325, 10px);
    height: 36px;
    gap: var(--space-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.ghost-size-36 {
    padding: var(--space-200, 4px) 0;
    gap: var(--space-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.inverse-size-36 {
    padding: var(--space-300, 8px) var(--space-325, 10px);
    height: 36px;
    gap: var(--space-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}

/* Size - 32 */
.primary-size-32 {
    padding: var(--space-300, 8px);
    height: 32px;
    gap: var(--space-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.outlined-size-32 {
    padding: var(--space-300, 8px);
    height: 32px;
    gap: var(--space-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.ghost-size-32 {
    padding: var(--space-200, 4px) 0;
    gap: var(--space-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.inverse-size-32 {
    padding: var(--space-300, 8px);
    height: 32px;
    gap: var(--space-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}

/* ---------------------------------------------------------------------------- */

/* Notification */
.notification {
    display: flex;
    width: 8px;
    height: 8px;
    position: absolute;
    right: 8px;
    top: -4px;

    border-radius: 100%;
    background: var(--background-negative, #ff3b30);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Loading */
.dot-carousel {
    position: relative;
    left: -9990px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    animation: dot-carousel 1.5s infinite linear;
}

.primary-primary .dot-carousel,
.secondary-primary .dot-carousel,
.ghost-primary .dot-carousel,
.inverse-primary .dot-carousel {
    background-color: var(--background-brand, #0d3caf);
    color: var(--background-brand, #0d3caf);
    box-shadow:
        9980px 0 0 0 var(--background-brand, #0d3caf),
        9990px 0 0 0 var(--background-brand, #0d3caf),
        10000px 0 0 0 var(--background-brand, #0d3caf);
}

.primary-red .dot-carousel,
.secondary-red .dot-carousel,
.ghost-red .dot-carousel,
.inverse-red .dot-carousel {
    background-color: var(--background-negative, #f44336);
    color: var(--background-negative, #f44336);
    box-shadow:
        9980px 0 0 0 var(--background-negative, #f44336),
        9990px 0 0 0 var(--background-negative, #f44336),
        10000px 0 0 0 var(--background-negative, #f44336);
}

.primary-green .dot-carousel,
.secondary-green .dot-carousel,
.ghost-green .dot-carousel,
.inverse-green .dot-carousel {
    background-color: var(--background-positive, #38c172);
    color: var(--background-positive, #38c172);
    box-shadow:
        9980px 0 0 0 var(--background-positive, #38c172),
        9990px 0 0 0 var(--background-positive, #38c172),
        10000px 0 0 0 var(--background-positive, #38c172);
}

.primary-secondary .dot-carousel,
.secondary-secondary .dot-carousel,
.ghost-secondary .dot-carousel,
.inverse-secondary .dot-carousel {
    background-color: var(--background-brand-pressed, #061d55);
    color: var(--background-brand-pressed, #061d55);
    box-shadow:
        9980px 0 0 0 var(--background-brand-pressed, #061d55),
        9990px 0 0 0 var(--background-brand-pressed, #061d55),
        10000px 0 0 0 var(--background-brand-pressed, #061d55);
}

@keyframes dot-carousel {
    0% {
        box-shadow:
            9980px 0 0 -1px currentColor,
            9990px 0 0 1px currentColor,
            10000px 0 0 -1px currentColor;
    }
    50% {
        box-shadow:
            10000px 0 0 -1px currentColor,
            9980px 0 0 -1px currentColor,
            9990px 0 0 1px currentColor;
    }
    100% {
        box-shadow:
            9990px 0 0 1px currentColor,
            10000px 0 0 -1px currentColor,
            9980px 0 0 -1px currentColor;
    }
}
