/* Base styles */
.btn {
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
    scale: 1;
    text-decoration: none;
    border: none;
}

.btn.animation {
    transition:
        all 0.25s ease-in-out,
        border-width 0.1s ease-in-out;
}

/* Loading */
.loading {
    cursor: default;
}

/* Primary button */
.primary-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--background-brand, #0d3caf);
    color: var(--content-primary-inverse, #fff);
    text-align: center;
    font-style: normal;
}
.primary-primary.loading {
    min-width: 50px;
    background: var(--background-selected, #e7eefd);
}
.primary-primary:not(.loading):hover {
    background: var(--background-primary);
    color: var(--content-brand, #0d3caf);
}
.primary-primary:not(.loading):active {
    background: var(--background-primary, #fff);
    color: var(--content-brand, #0d3caf);
}
.primary-primary:not(.loading):disabled {
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

.primary-red {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--background-negative, #f44336);
    color: var(--content-primary-inverse, #fff);
    text-align: center;
    font-style: normal;
}
.primary-red.loading {
    min-width: 50px;
    background: var(--background-negative-subtle, #fdd9d7);
    border: 1px solid var(--border-negative, #f44336);
}
.primary-red:not(.loading):hover {
    background: var(--background-negative-subtle, #fdd9d7);
    color: var(--content-negative, #f44336);
}
.primary-red:not(.loading):active {
    background: var(--background-negative-subtle, #fdd9d7);
    color: var(--content-negative, #f44336);
}
.primary-red:not(.loading):disabled {
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

.primary-green {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--background-positive, #38c172);
    color: var(--content-primary-inverse, #fff);
    text-align: center;
    font-style: normal;
}
.primary-green.loading {
    min-width: 50px;
    background: var(--background-positive-subtle, #fdd9d7);
    border: 1px solid var(--border-positive, #f44336);
}
.primary-green:not(.loading):hover {
    background: var(--background-positive-subtle, #fdd9d7);
    color: var(--content-positive, #38c172);
}
.primary-green:not(.loading):active {
    background: var(--background-positive-subtle, #fdd9d7);
    color: var(--content-positive, #38c172);
}
.primary-green:not(.loading):disabled {
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

.primary-secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--border-inverse, #fff);
    background: var(--background-teritary, #ebebeb);
    color: var(--content-brand-bold, #061d55);
    text-align: center;
    font-style: normal;
}
.primary-secondary.loading {
    min-width: 50px;
    border: 1px solid var(--border-inverse, #fff);
    background: var(--background-teritary, #ebebeb);
}
.primary-secondary:not(.loading):hover {
    background: var(--background-primary, #fff);
}
.primary-secondary:not(.loading):active {
    background: var(--background-primary, #fff);
}
.primary-secondary:not(.loading):disabled {
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    border: none;
    cursor: default;
}

/* Secondary button */
.secondary-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--border-brand, #0d3caf);
    background: transparent;
    color: var(--content-brand, #0d3caf);
    text-align: center;
    font-style: normal;
}
.secondary-primary.loading {
    min-width: 50px;
    border: 1px solid var(--border-brand, #0d3caf);
}
.secondary-primary:not(.loading):hover {
}
.secondary-primary:not(.loading):active {
    border: 2px solid var(--border-brand, #0d3caf);
}
.secondary-primary:not(.loading):disabled {
    border: 1px solid var(--border-disabled, #ccc);
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

.secondary-red {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--border-negative, #f44336);
    background: transparent;
    color: var(--content-negative, #f44336);
    text-align: center;
    font-style: normal;
}
.secondary-red.loading {
    min-width: 50px;
    border: 1px solid var(--border-negative, #0d3caf);
}
.secondary-red:not(.loading):hover {
}
.secondary-red:not(.loading):active {
    border: 2px solid var(--border-negative, #f44336);
}
.secondary-red:not(.loading):disabled {
    border: 1px solid var(--border-disabled, #ccc);
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

.secondary-green {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--border-positive, #38c172);
    background: transparent;
    color: var(--content-positive, #38c172);
    text-align: center;
    font-style: normal;
}
.secondary-green.loading {
    min-width: 50px;
    border: 1px solid var(--border-positive, #0d3caf);
}
.secondary-green:not(.loading):hover {
}
.secondary-green:not(.loading):active {
    border: 2px solid var(--border-positive, #38c172);
}
.secondary-green:not(.loading):disabled {
    border: 1px solid var(--border-disabled, #ccc);
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

.secondary-secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--border-inverse, #fff);
    background: transparent;
    color: var(--content-brand-bold, #061d55);
    text-align: center;
    font-style: normal;
}
.secondary-secondary.loading {
    min-width: 50px;
    border: 1px solid var(--border-inverse, #fff);
}
.secondary-secondary:not(.loading):hover {
}
.secondary-secondary:not(.loading):active {
    border: 2px solid var(--border-inverse, #fff);
}
.secondary-secondary:not(.loading):disabled {
    border: 1px solid var(--border-disabled, #ccc);
    background: var(--background-disabled, #f3f3f3);
    color: var(--content-disabled, #a6a6a6);
    cursor: default;
}

/* Ghost button */
.ghost-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--content-brand, #0d3caf);
    text-align: center;
    font-style: normal;
}
.ghost-primary.loading {
}
.ghost-primary:not(.loading):hover {
    color: var(--content-brand-bold, #061d55);
}
.ghost-primary:not(.loading):active {
    color: var(--content-brand, #0d3caf);
}
.ghost-primary:not(.loading):disabled {
    color: var(--content-brand, #0d3caf);
    cursor: default;
}

.ghost-red {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--content-secondary, #333);
    text-align: center;
    font-style: normal;
}
.ghost-red.loading {
}
.ghost-red:not(.loading):hover {
    color: var(--content-tertiary, #666);
}
.ghost-red:not(.loading):active {
    color: var(--content-secondary, #333);
}
.ghost-red:not(.loading):disabled {
    color: var(--content-secondary, #333);
    cursor: default;
}

.ghost-green {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--content-secondary, #333);
    text-align: center;
    font-style: normal;
}
.ghost-green.loading {
}
.ghost-green:not(.loading):hover {
    color: var(--content-tertiary, #666);
}
.ghost-green:not(.loading):active {
    color: var(--content-secondary, #333);
}
.ghost-green:not(.loading):disabled {
    color: var(--content-secondary, #333);
    cursor: default;
}

.ghost-secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--content-brand-bold, #061d55);
    text-align: center;
    font-style: normal;
}
.ghost-secondary.loading {
}
.ghost-secondary:not(.loading):hover {
}
.ghost-secondary:not(.loading):active {
}
.ghost-secondary:not(.loading):disabled {
    cursor: default;
}

/* Size - 52 */
.primary-size-52 {
    padding: var(--pm-350, 16px);
    height: 52px;
    border-radius: var(--br-5xl, 20px);
    gap: var(--gap-200, 4px);
    font-size: var(--fs-16, 16px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.secondary-size-52 {
    padding: var(--pm-350, 16px);
    height: 52px;
    border-radius: var(--br-5xl, 20px);
    gap: var(--gap-200, 4px);
    font-size: var(--fs-16, 16px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.ghost-size-52 {
    padding: var(--pm-200, 8px) 0;
    border-radius: var(--br-5xl, 20px);
    gap: var(--gap-200, 4px);
    font-size: var(--fs-16, 16px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}

/* Size - 48 */
.primary-size-48 {
    padding: var(--pm-250, 12px) var(--pm-350, 16px);
    height: 48px;
    gap: var(--gap-300, 8px);
    border-radius: var(--br-3xl, 16px);
    font-size: var(--fs-16, 16px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.secondary-size-48 {
    padding: var(--pm-250, 12px) var(--pm-350, 16px);
    height: 48px;
    gap: var(--gap-300, 8px);
    border-radius: var(--br-3xl, 16px);
    font-size: var(--fs-16, 16px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
.ghost-size-48 {
    padding: var(--pm-200, 8px) 0;
    gap: var(--gap-300, 8px);
    border-radius: var(--br-3xl, 16px);
    font-size: var(--fs-16, 16px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}

/* Size - 44 */
.primary-size-44 {
    padding: var(--pm-200, 8px);
    height: 44px;
    gap: var(--gap-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 400;
    line-height: var(--lh-16, 16px);
}
.secondary-size-44 {
    padding: var(--pm-200, 8px);
    height: 44px;
    gap: var(--gap-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 400;
    line-height: var(--lh-16, 16px);
}
.ghost-size-44 {
    padding: var(--pm-200, 8px) 0;
    gap: var(--gap-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 400;
    line-height: var(--lh-16, 16px);
}

/* Size - 36 */
.primary-size-36 {
    padding: var(--pm-200, 8px) var(--pm-350, 16px);
    height: 36px;
    gap: var(--gap-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 400;
    line-height: var(--lh-16, 16px);
}
.secondary-size-36 {
    padding: var(--pm-200, 8px) var(--pm-350, 16px);
    height: 36px;
    gap: var(--gap-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 400;
    line-height: var(--lh-16, 16px);
}
.ghost-size-36 {
    padding: var(--pm-100, 4px) 0;
    gap: var(--gap-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 400;
    line-height: var(--lh-16, 16px);
}

/* Size - 32 */
.primary-size-32 {
    padding: var(--pm-200, 8px);
    height: 32px;
    gap: var(--gap-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 400;
    line-height: var(--lh-16, 16px);
}
.secondary-size-32 {
    padding: var(--pm-200, 8px);
    height: 32px;
    gap: var(--gap-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 400;
    line-height: var(--lh-16, 16px);
}
.ghost-size-32 {
    padding: var(--pm-100, 4px) 0;
    gap: var(--gap-300, 8px);
    border-radius: var(--br-2xl, 12px);
    font-size: var(--fs-14, 14px);
    font-weight: 400;
    line-height: var(--lh-16, 16px);
}

/* ---------------------------------------------------------------------------- */

/* Notification */
.notification {
    display: flex;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 9px;
    top: -7px;

    border-radius: 100%;
    border: 1px solid var(--clr-white);
    background: var(--background-negative, #ff3b30);
}

/* Tooltip */
.btnContainer {
    position: relative;
}

.tooltip {
    animation: fadeIn 0.2s ease-in-out;
    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(var(--clr-primary-900));
    color: hsl(var(--clr-white-50));
    padding: var(--pm-100) var(--pm-150);
    border-radius: var(--r-200);
    font-size: var(--fs-25);
    white-space: nowrap;
    z-index: 1000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Loading */
.dot-carousel {
    position: relative;
    left: -9990px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    animation: dot-carousel 1.5s infinite linear;
}

.primary-primary .dot-carousel,
.secondary-primary .dot-carousel,
.ghost-primary .dot-carousel {
    background-color: var(--background-brand, #0d3caf);
    color: var(--background-brand, #0d3caf);
    box-shadow:
        9980px 0 0 0 var(--background-brand, #0d3caf),
        9990px 0 0 0 var(--background-brand, #0d3caf),
        10000px 0 0 0 var(--background-brand, #0d3caf);
}

.primary-red .dot-carousel,
.secondary-red .dot-carousel,
.ghost-red .dot-carousel {
    background-color: var(--background-negative, #f44336);
    color: var(--background-negative, #f44336);
    box-shadow:
        9980px 0 0 0 var(--background-negative, #f44336),
        9990px 0 0 0 var(--background-negative, #f44336),
        10000px 0 0 0 var(--background-negative, #f44336);
}

.primary-green .dot-carousel,
.secondary-green .dot-carousel,
.ghost-green .dot-carousel {
    background-color: var(--background-positive, #f44336);
    color: var(--background-positive, #f44336);
    box-shadow:
        9980px 0 0 0 var(--background-positive, #f44336),
        9990px 0 0 0 var(--background-positive, #f44336),
        10000px 0 0 0 var(--background-positive, #f44336);
}

.primary-secondary .dot-carousel,
.secondary-secondary .dot-carousel,
.ghost-secondary .dot-carousel {
    background-color: var(--background-brand-pressed, #061d55);
    color: var(--background-brand-pressed, #061d55);
    box-shadow:
        9980px 0 0 0 var(--background-brand-pressed, #061d55),
        9990px 0 0 0 var(--background-brand-pressed, #061d55),
        10000px 0 0 0 var(--background-brand-pressed, #061d55);
}

@keyframes dot-carousel {
    0% {
        box-shadow:
            9980px 0 0 -1px currentColor,
            9990px 0 0 1px currentColor,
            10000px 0 0 -1px currentColor;
    }
    50% {
        box-shadow:
            10000px 0 0 -1px currentColor,
            9980px 0 0 -1px currentColor,
            9990px 0 0 1px currentColor;
    }
    100% {
        box-shadow:
            9990px 0 0 1px currentColor,
            10000px 0 0 -1px currentColor,
            9980px 0 0 -1px currentColor;
    }
}
