.paginationWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: var(--fs-14);

    background: var(--background-primary, #fff);
}

.leftSide {
    display: flex;
    align-items: center;
}

.label {
    overflow: hidden;
    color: var(--content-secondary, #333) !important;
    text-align: center;
    font-size: var(--fs-12, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-14, 14px);
}

.select {
    width: 70px;
}

.rightSide {
    display: flex;
    align-items: center;
}

.range {
    overflow: hidden;
    color: var(--content-tertiary, #666) !important;
    text-align: center;
    font-size: var(--fs-12);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20, 20px);
}

.iconBtn {
    cursor: pointer;
    padding: 4px;
    font-size: 14px;
    color: var(--content-secondary);
    width: 32px;
    height: 32px;
    border-radius: 12px;
    border: 1px solid var(--border-secondary-brand, #ecedee);
    background: var(--background-primary, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.iconBtn:hover {
    background-color: var(--background-secondary, #f3f3f3);
    color: var(--content-tertiary);
}

.iconBtn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    border: 1px solid var(--border-disabled, #ccc);
    background: var(--background-disabled, #f3f3f3);
}

.leftSide,
.centerSide,
.rightSide {
    display: flex;
    align-items: center;
    gap: 8px;
}

.range {
    overflow: hidden;
    color: var(--content-secondary, #333);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pageNumberBtn {
    min-width: 32px;
    min-height: 32px;
    width: auto;
    height: auto;

    width: 32px;
    height: 32px;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;

    border-radius: 12px;
    border: 1px solid var(--border-secondary-brand, #ecedee);
    background: var(--background-primary, #fff);

    color: var(--content-secondary, #333);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    transition: all 0.3s ease;
}

.pageNumberBtn:hover:not(.activePage) {
    background: var(--background-secondary, #f3f3f3);
    color: var(--content-tertiary, #666);
}
.activePage {
    color: var(--content-primary-inverse, #fff);
    border-radius: 12px;
    background: var(--background-brand, #0d3caf);
}

.ellipsis {
    padding: 0 8px;
    font-weight: bold;
    color: var(--Black-700, rgba(0, 0, 0, 0.6));
}
