.filterHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterTitle {
    color: var(--content-primary, #1a1a1a);
    font-size: var(--fs-16, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-20, 20px); /* 125% */
}

.filterHeaderButtons {
    display: flex;
    gap: 4px;
}
