.selectContainer {
    width: 100%;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.inputContainer label {
    font-size: 12px;
    color: var(--Neutral-800, #424242);
    margin-bottom: 4px;
}

.customSelect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid var(--Primary-primary-50, #DDE6F0);
    background: var(--Grey-White, #FFF);
    cursor: pointer;
    position: relative;
    font-size: 16px;
    color: var(--Neutral-800, #424242);
    height: 52px;
}

.arrow {
    font-size: 14px;
    color: var(--Neutral-800, #424242);
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.dropdown {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: var(--Grey-White, #FFF);
    border: 1px solid var(--Primary-primary-50, #DDE6F0);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    margin-top: 4px;
    padding: 8px;
}

.searchInput {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--Primary-primary-50, #DDE6F0);
    font-size: 14px;
    margin-bottom: 8px;
    outline: none;
}

.optionsList {
    max-height: 200px;
    overflow-y: auto;
    scroll-behavior: smooth;  
    scrollbar-width: none;    
}

.option {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: var(--Neutral-800, #424242);
    display: flex;
    align-items: center;
    gap: 3px;
}

.option:hover {
    background-color: var(--Primary-primary-50, #E3F2FD);
}

.selectedContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    margin-top: 10px;
}



.noResult {
    text-align: center;
    color: #9E9E9E;
    font-size: 14px;
    padding: 10px;
}
  .errorMessage {
    display: flex;
    align-items: center;
    min-width: 153px;
    border-radius: 18px;
    padding: 6px 3px;
    gap: 12px;
    color: rgba(253, 0, 72, 1);
  }
  .errorMessage p {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    line-height: 17px;
  }
  .errorSelect{
    border: 1px solid rgba(253, 0, 72, 1) !important;

  }
  .checks{
    display: flex;
    align-items: center;
    justify-content: center;
  }