.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 10px; */
    width: 100%;
    height: 100%;

    border-radius: var(--r-450);
    /* gap: 12px; */
}

.cardGrid {
    width: 100%;
    height: 96%;
    background: hsl(var(--clr-white-50));
    gap: 16px;

    border-radius: var(--r-450);
    padding: 16px;
}
.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    gap: 10px;
}

.card {
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: var(--r-350);
    background: var(--foundation-surface-white-active, #f5f7f9);

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 76px;
    padding: 16px;
    gap: 16px;
}

.card span {
    color: hsl(var(--clr-primary-900));
    font-size: var(--fs-100);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: Poppins;
}

.iconWrapper {
    background-color: transparent;
    border-radius: var(--r-350);
    width: 44px;
    height: 44px;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    background-color: hsl(var(--clr-blue-25));
}

.card:hover .iconWrapper {
    background-color: hsl(var(--clr-white-50));
}

.card:hover .iconWrapper svg {
    fill: hsl(var(--clr-blue-500));
}

.inputForReports {
    width: 382px;
}