[data-scope='tree-view'][data-part='branch-control'] {
	display: flex;
	width: 100%;
	padding: var(--pm-400) var(--pm-500);
}

[data-scope='tree-view'][data-part='branch-indicator'] {
	transition: all var(--animation);
	width: var(--wh-200);
	height: var(--wh-200);
}
[data-scope='tree-view'][data-part='branch-text'] {
	flex: 1;
	display: flex;
	gap: var(--pm-100);
	align-items: center;
}
[data-scope='tree-view'][data-part='branch-indicator'][data-state='open'] {
	transform: rotate(180deg);
}

[data-scope='tree-view'][data-part='item-text'] {
	flex: 1;
	display: flex;
	width: 100%;
	padding: var(--pm-400) var(--pm-500);
	align-items: center;
	gap:var(--pm-100);
	cursor: pointer;
}

[data-scope='tree-view'][data-part='item-text'][data-selected] {
	color: hsl(var(--clr-primary-500));
}