.tooltip[data-part='content'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: var(--space-450, 16px);
    background: var(--background-primary-inverse-50, rgba(0, 0, 0, 0.5));
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.8;
    color: var(--content-primary-inverse, #fff);
    border: none;
    outline: none;
}

.tooltip[data-part='content'][data-state='open'] {
    animation: fadeIn 0.5s ease-out;
}

.tooltip[data-part='content'][data-state='closed'] {
    animation: fadeOut 0.5s ease-in;
}

.tooltip[data-part='content'][data-size='default'] {
    padding: var(--space-350, 12px) var(--space-300, 8px);
    border-radius: var(--br-xl, 8px);
    font-size: var(--fs-12, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-14, 14px);
}

.tooltip[data-part='content'][data-size='sm'] {
    padding: var(--space-300, 8px);
    border-radius: var(--br-md, 4px);
    font-size: var(--fs-10, 10px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-12, 12px);
}

/* Arrow */
.tooltip [data-part='arrow'] {
    --arrow-size: 8px;
    --arrow-background: var(--background-primary-inverse-50, rgba(0, 0, 0, 0.5));
    /* opacity: 0.8; */
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.15));
}

/* Push arrow fully OUTSIDE by half its size */
.tooltip[data-placement^='top'] [data-part='arrow-tip'] {
    rotate: 135deg !important;
    clip-path: polygon(100% 50%, 50% 100%, 0% 50%);
}
.tooltip[data-placement^='bottom'] [data-part='arrow'] {
    rotate: 180deg !important;
    clip-path: polygon(100% 50%, 50% 100%, 0% 50%);
}
.tooltip[data-placement^='left'] [data-part='arrow'] {
    rotate: 270deg !important;
    clip-path: polygon(100% 50%, 50% 100%, 0% 50%);
}
.tooltip[data-placement^='right'] [data-part='arrow'] {
    rotate: 90deg !important;
    clip-path: polygon(100% 50%, 50% 100%, 0% 50%);
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
