.table_header {
    width: 100%;
    border-radius: var(--br-2xl);
    background: var(--background-secondary, #f2f4f7);
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    padding: var(--space-300) var(--space-450);
}

.table_header_text h1 {
    color: var(--content-primary, #1a1a1a);
    font-family: Poppins;
    font-size: var(--fs-16, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-20, 20px); /* 125% */
    margin: 0;
}

.table_header_btn {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.downloadButtonGroup {
    position: relative;
    display: inline-block;
    border-radius: 12px;
    display: inline-flex;
    align-items: stretch;
    border-radius: var(--md, 12px);
    background: var(--background-secondary-brand, #ecedee);
    height: 36px;
}

.downloadButton {
    border-radius: 12px;
    display: flex;
    height: 36px;
    padding: 8px 12px;
    justify-content: center;
    border-radius: var(--md, 12px);
    background: var(--background-secondary-brand, #ecedee);
    align-items: center;
    gap: 8px;
    color: var(--content-secondary-brand-bold, #484c51);
    text-align: center;
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-20, 20px); /* 142.857% */
}

.dropdownMenu {
    position: absolute;
    top: 110%;
    right: 0;

    border-radius: 12px;
    background: var(--background-primary, #fff);

    box-shadow: 0 4px 8px 0 rgba(91, 118, 168, 0.12);

    display: flex;
    width: 96px;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    z-index: 1212;
}

.dropdownItem {
    width: 100%;
    text-align: left;

    color: var(--content-tertiary, #666);
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20, 20px);

    padding: 8px;
    border-radius: 8px;
}

.dropdownItem:hover {
    background: var(--background-secondary, #f3f3f3);
}

.downloadMain {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 0 12px;
    color: var(--content-secondary-brand-bold, #484c51);
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-20, 20px);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    transition: all 0.3s ease;
}

.downloadArrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: all 0.3s ease;
}

.downloadArrow::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 1px;
    background: var(--content-tertiary, #666);
}

.downloadMain:hover {
    background: var(--background-secondary-brand-hover, #9cb0c4);
    color: var(--content-inverse-secondary-brand-bold, #f5f7f9);
}

.downloadArrow:hover {
    background: var(--background-secondary-brand-hover, #9cb0c4);
}

.downloadArrow:hover svg {
    color: var(--content-inverse-secondary-brand-bold, #f5f7f9);
}

.downloadArrow[aria-expanded='true'] svg {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.downloadArrow svg {
    transition: transform 0.3s ease;
    color: var(--content-secondary-brand-bold, #f5f7f9);
}
