.tableWrapper {
    width: 100%;
    height: 100%;
    color: var(--clr-grey-900);
}

.tableContainer {
    height: 100%;
    background: var(--background-secondary, #f3f3f3);
}

.thead tr th {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    overflow: visible;
}

.tbody td {
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Poppins;
}
.tableHeadCell {
    position: 'relative';
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.tableHeadCell div {
    position: 'relative';
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tableHeadCell div:not(.dropdown) {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    color: var(--content-secondary, #333);
}

.tableHeadCell {
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 3;
}

.tableHeadCell:hover .filterToggleGlobal,
.tableHeadCell:hover .customMenuToggleBtn {
    opacity: 1;
}

.visibilityColumns {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    gap: 4px;
    padding: 6px 0;
    max-height: 160px;
    width: 100% !important;
    overflow-y: auto;
}

.visibilityDropdown {
    background: var(--background-primary, #fff);
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(91, 118, 168, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 180px;
    overflow: hidden;
    padding: 10px;
}

.visibilityDropdownHeader {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
    height: 35px;
}

.visibilityDropdownItem {
    padding: 6px 6px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 92% !important;
    transition: all 0.3s ease;
}

.visibilityDropdownItem span {
    color: var(--content-secondary, #333);
    font-feature-settings:
        'liga' off,
        'clig' off;
    font-family: Poppins;
    font-size: var(--fs-12, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-16, 14px);
}

.visibilityDropdownItem:hover {
    background: var(--background-selected, #e7eefd) !important;
}

.filterToggleGlobal {
    transition: all 0.2s ease;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    right: 33px;
}

.customMenuToggleBtn {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    right: 10px;
}

[data-testid='MoreVertIcon'] {
    display: none !important;
}

.filterRowLikeTable {
    display: flex;
    padding: 8px 16px;
    background-color: var(--background-primary);
    width: 100%;
    align-items: stretch;
}

.menuContent {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    gap: 4px !important;
    padding: 8px !important;
    outline: none !important;
    border-radius: 12px !important;
    background: var(--background-primary, #fff) !important;
    box-shadow: 0 4px 8px 0 rgba(91, 118, 168, 0.12);
}

.menuItem {
    color: var(--content-tertiary, #666);
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20, 20px);

    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    padding: 8px;
    gap: 4px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.menuItem:hover {
    background: var(--background-secondary, #f3f3f3);
    color: var(--content-primary, #1a1a1a);
}

.menuTrigger {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customColumnMenu {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    border-radius: var(--br-2xl);
    background: var(--background-primary) !important;

    box-shadow: 0 4px 8px 0 rgba(91, 118, 168, 0.12);
    overflow: hidden;
    padding: 0 !important;
}

.customColumnMenuItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s ease;
    width: 100%;
    cursor: pointer;
    padding: 8px 14px;

    color: var(--content-tertiary, #666);
    font-feature-settings:
        'liga' off,
        'clig' off;

    font-family: Poppins;
    font-size: var(--fs, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20, 20px);
}

.customColumnMenuItem:hover {
    background: var(--background-selected, #e7eefd);
    color: var(--content-brand);
}

.customColumnMenuItem:hover svg,
.customColumnMenuItem:hover svg path {
    color: var(--content-brand) !important;
}

.MuiPopover-paper.MuiMenu-paper {
    --Paper-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ddd !important;
    border-radius: 12px !important;
    padding: 0 !important;
}

.css-1f27qut-MuiList-root-MuiMenu-list {
    padding: 0 !important;
}

.MuiMenu-list {
    padding: 0 !important;
}

ul[class*='MuiMenu-list'] {
    padding: 0 !important;
}

.tableHeadCell {
    position: sticky !important;
    top: 0 !important;
}
.MuiTableCell-stickyLeft {
    z-index: 101 !important;
}
