.tableWrapper {
    width: 100%;
    border: none;
    box-shadow: none !important;
    height: 100%;
    color: var(--clr-grey-900);
}
.tableContainer {
    height: 100%;
}
.thead {
    box-shadow: none;
    font-family: 'Poppins', sans-serif;
    /* border-bottom: hsl(var(--clr-primary-50)); */
}
.thead tr {
    box-shadow: 0px 2px 0px hsl(var(--clr-primary-50));
    font-family: 'DM Sans';
}
[data-theme='dark'] .thead tr {
    box-shadow: 0px 2px 0px hsl(var(--clr-primary-700));
}
.thead tr th {
    box-shadow: none;
    font-family: 'DM Sans';
    font-family: Poppins;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6px;

    position: relative;
    overflow: visible;
}

.tbody {
    border: none;
}
.tbody tr {
    transition: all var(--animation);
}

.tbodyRow:hover td {
    background-color: #f4f7ff !important;
}

.tbodyRow:hover {
    background: #f4f7ff !important;
}

[data-theme='dark'] .tbody tr:hover {
    background: hsl(var(--clr-primary-900)) !important;
}
.tbody td {
    border: none;
    font-family: 'Poppins', sans-serif;
    background: transparent;
    overflow: hidden;
    color: hsl(var(--clr-primary-900));
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.tableHeadCell {
    width: '100%';
    font-family: 'Poppins', sans-serif !important;
    position: 'relative';
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: '100%';
}

.tableHeadCell div {
    width: '100%';
    font-family: 'Poppins', sans-serif !important;
    position: 'relative';
    height: '100%';
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tableHeadCell div:not(.dropdown) {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.tableHeadCell {
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
    padding-bottom: 4px;
    display: flex;
    justify-content: space-between;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 3;
}

.tableHeadCell:hover .filterToggleGlobal,
.tableHeadCell:hover .customMenuToggleBtn {
    opacity: 1;
}

.checkbox {
    border-radius: var(--r-200);
}

.tableContainer::-webkit-scrollbar {
    height: 5px !important;
    width: 5px;
}

.tableContainer::-webkit-scrollbar-track {
    background: hsl(var(--clr-grey-50));
    border-radius: 10px;
}

.tableContainer::-webkit-scrollbar-thumb {
    background: hsl(var(--clr-primary-500));
    border-radius: 10px;
}

.tableContainer::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--clr-primary-700));
}

.visibilityColumns {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    gap: 6px;
    padding: 6px 0;
    max-height: 160px;
    overflow-y: auto;
}

.visibilityDropdown {
    background: hsl(var(--clr-background));
    border-radius: var(--r-200);
    border: 1px solid hsl(var(--clr-primary-50));
    -webkit-box-shadow: 0px 18px 22px -2px hsl(var(--clr-grey-200));
    -moz-box-shadow: 0px 18px 22px -2px hsl(var(--clr-grey-200));
    box-shadow: 0px 18px 22px -2px hsl(var(--clr-grey-200));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 180px;
    overflow: hidden;
    padding: 10px;
    gap: 4px;
}

.visibilityDropdownHeader {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
    height: 35px;
}

[data-theme='dark'] .visibilityDropdown {
    -webkit-box-shadow: 0px 18px 22px -2px hsl(var(--clr-grey-50));
    -moz-box-shadow: 0px 18px 22px -2px hsl(var(--clr-grey-50));
    box-shadow: 0px 18px 22px -2px hsl(var(--clr-grey-50));
    border: 1px solid hsl(var(--clr-primary-800));
}
.visibilityDropdown > * {
    background: hsl(var(--clr-background));
    /* color: hsl(var(--clr-foreground)); */
    user-select: none;
    width: 100%;
}
.visibilityDropdown > .visibilityDropdownItem {
    padding: var(--pm-200);
    border-radius: var(--r-200);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.visibilityDropdownItem span {
    color: var(--Sand-12, #21201c);
}

.visibilityDropdown > .visibilityDropdownItem:hover {
    background: hsl(var(--clr-primary-50)) !important;
}
[data-theme='dark'] .visibilityDropdown > .visibilityDropdownItem:hover {
    background: hsl(var(--clr-primary-900));
}
/* visibility button */
.visibilityBtn {
    border-radius: 12px;
    border: 1px solid var(--Foundation-Blue-White, #fff);
    background: var(--foundation-blue-white-active, #f5f7f9);
    display: flex;
    width: 36px;
    height: 36px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: var(--sds-size-space-100);
}

.visibilityBtn:hover {
    background: #fff;
}

.filterBtn {
    border-radius: var(--xs, 6px) !important;
    margin: 0 3px;
    padding: 9px 0;
    height: 36px;
}

.filterToggleGlobal {
    transition: all 0.2s ease;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    right: 33px;
}

.customMenuToggleBtn {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    right: 10px;
}

[data-testid='MoreVertIcon'] {
    display: none !important;
}

.customFilterRow {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    padding: 12px;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin-bottom: 12px;
    align-items: flex-end;
}
.filterRowLikeTable {
    display: flex;
    padding: 8px 16px;
    background-color: white;
    /* border-bottom: 1px solid #e0e0e0; */
    align-items: center;
}

.menuContent {
    border-radius: var(--r-300) !important;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    gap: var(--pm-100) !important;
    padding: var(--pm-200) !important;
    box-shadow: 0px 4px 8px 0px rgba(91, 118, 168, 0.12);
    background: #fff !important;
    outline: none !important;
}

.menuItem {
    color: hsl(var(--clr-grey-600));
    font-size: var(--fs-100);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: var(--pm-200);
    gap: var(--pm-300);
    border-radius: var(--r-100);
    cursor: pointer;
    transition: all 0.2s ease;
}

.menuItem:hover {
    color: hsl(var(--clr-primary-900));
    background: hsl(var(--clr-white-200));
}

.menuTrigger {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customColumnMenu {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    border-radius: var(--br-2xl);
    background: var(--background-primary) !important;

    box-shadow: 0 4px 8px 0 rgba(91, 118, 168, 0.12);
    overflow: hidden;
    padding: 0 !important;
}

.customColumnMenuItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s ease;
    width: 100%;
    cursor: pointer;
    padding: 8px 14px;

    color: var(--content-tertiary, #666);
    font-feature-settings:
        'liga' off,
        'clig' off;

    font-family: Poppins;
    font-size: var(--fs, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20, 20px); /* 142.857% */
}

.customColumnMenuItem:hover {
    background: var(--background-selected, #e7eefd);
    color: var(--content-brand);
}

.customColumnMenuItem:hover svg,
.customColumnMenuItem:hover svg path {
    color: var(--content-brand) !important;
}

.MuiPopover-paper.MuiMenu-paper {
    --Paper-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ddd !important;
    border-radius: 12px !important;
    padding: 0 !important;
}

.css-1f27qut-MuiList-root-MuiMenu-list {
    padding: 0 !important;
}

.MuiMenu-list {
    padding: 0 !important;
}
ul[class*='MuiMenu-list'] {
    padding: 0 !important;
}
.MuiTableCell-stickyLeft {
}
.tableHeadCell {
    position: sticky !important;
    top: 0 !important;
}
.MuiTableCell-stickyLeft {
    z-index: 101 !important;
}
.filterRowLikeTable {
    display: flex;
    width: 100%;
    align-items: stretch; /* bütün filter inputlar eyni hündürlükdə olsun */
}
