.MuiPopover-paper.MuiMenu-paper {
    --Paper-shadow: none !important;
    box-shadow: none !important;
    border-radius: 12px !important;
}
:where(.css-dev-only-do-not-override-1a3rktk).ant-color-picker-trigger .ant-color-picker-color-block {
    width: 90% !important;
    height: 85% !important;
    border-radius: var(--Corner-Extra-small, 4px);
    cursor: pointer;
}

.MuiTableCell-stickyLeft {
    position: sticky !important;
    left: 0 !important;
    z-index: 10 !important;
    background-color: var(--background-secondary, #f3f3f3) !important;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(0);
}

.MuiTypography-root {
    font-family: Poppins !important;
    font-size: 16px !important;
    font-style: normal !important;
}

.Mui-TableHeadCell-Content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiBox-root {
    background-color: transparent !important;
}

.MuiTableCell-head {
    padding-bottom: 14px !important;
}
