.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radioGroup {
    display: flex;
    gap: 6px;
}

.radioGroup[data-orientation='vertical'] {
    flex-direction: column;
}

.radioGroup[data-orientation='horizontal'] {
    flex-direction: row;
}

.radioGroup [data-part='item'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    color: var(--content-secondary, #333);
    font-size: var(--fs-14, 14px);
    font-weight: 400;
    line-height: var(--lh-20, 20px);
}

.radioGroup [data-part='item-control'] {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--border-brand, #0d3caf);
    background: var(--background-primary, #fff);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.radioGroup [data-part='item-control'][data-state='checked'] {
    border: 1px solid #ffffff; 
    background-color: #ffffff; 
    outline: 4px solid var(--border-brand) !important; 
    outline-offset: -4px;
}
.radioGroup [data-part='item-control'][data-hover] {
    background: var(--background-selected, #e7eefd);
}

.label {
    color: var(--content-secondary, #df4545);
    font-size: var(--fs-14, 14px);
    font-weight: 500;
    line-height: var(--lh-20, 20px);
}
