@import 'tailwindcss';
@import 'tw-animate-css';

* {
    letter-spacing: var(--letter-spacing) !important;
    word-spacing: var(--letter-spacing) !important;
}

:root {
    /* Font/Size */
    --fs-base: 1rem; /* 16px */
    --fs-8: calc(var(--fs-base) - 8px); /* 8px */
    --fs-10: calc(var(--fs-base) - 6px); /* 10px */
    --fs-12: calc(var(--fs-base) - 4px); /* 12px */
    --fs-14: calc(var(--fs-base) - 2px); /* 14px */
    --fs-16: var(--fs-base); /* 16px */
    --fs-18: calc(var(--fs-base) + 2px); /* 18px */
    --fs-20: calc(var(--fs-base) + 4px); /* 20px */
    --fs-24: calc(var(--fs-base) + 8px); /* 24px */
    --fs-32: calc(var(--fs-base) + 16px); /* 32px */
    --fs-40: calc(var(--fs-base) + 24px); /* 40px */
    --fs-48: calc(var(--fs-base) + 32px); /* 48px */
    --fs-64: calc(var(--fs-base) + 48px); /* 64px */
    --fs-72: calc(var(--fs-base) + 56px); /* 72px */
    --fs-96: calc(var(--fs-base) + 80px); /* 96px */

    /* Font/Line height */
    --lh-base: 1rem; /* 16px */
    --lh-8: calc(var(--lh-base) - 8px); /* 8px */
    --lh-10: calc(var(--lh-base) - 6px); /* 10px */
    --lh-12: calc(var(--lh-base) - 4px); /* 12px */
    --lh-14: calc(var(--lh-base) - 2px); /* 14px */
    --lh-16: var(--lh-base); /* 16px */
    --lh-18: calc(var(--lh-base) + 2px); /* 18px */
    --lh-20: calc(var(--lh-base) + 4px); /* 20px */
    --lh-24: calc(var(--lh-base) + 8px); /* 24px */
    --lh-28: calc(var(--lh-base) + 12px); /* 28px */
    --lh-32: calc(var(--lh-base) + 16px); /* 32px */
    --lh-36: calc(var(--lh-base) + 20px); /* 36px */
    --lh-40: calc(var(--lh-base) + 24px); /* 40px */
    --lh-48: calc(var(--lh-base) + 32px); /* 48px */
    --lh-64: calc(var(--lh-base) + 48px); /* 64px */
    --lh-80: calc(var(--lh-base) + 64px); /* 80px */
    --lh-120: calc(var(--lh-base) + 104px); /* 120px */

    /* Sizing */
    --size-base: 1rem;
    --size-50: calc(var(--size-base) - 14px); /* 2px */
    --size-100: calc(var(--size-base) - 12px); /* 4px */
    --size-150: calc(var(--size-base) - 10px); /* 6px */
    --size-200: calc(var(--size-base) - 8px); /* 8px */
    --size-225: calc(var(--size-base) - 6px); /* 10px */
    --size-250: calc(var(--size-base) - 4px); /* 12px */
    --size-300: calc(var(--size-base) - 2px); /* 14px */
    --size-350: var(--size-base); /* 16px */
    --size-400: calc(var(--size-base) + 4px); /* 20px */
    --size-450: calc(var(--size-base) + 8px); /* 24px */
    --size-500: calc(var(--size-base) + 16px); /* 32px */
    --size-550: calc(var(--size-base) + 24px); /* 40px */
    --size-600: calc(var(--size-base) + 40px); /* 56px */
    --size-650: calc(var(--size-base) + 112px); /* 128px */
    --size-700: calc(var(--size-base) + 240px); /* 256px */
    --size-800: calc(var(--size-base) + 496px); /* 512px */

    /* Spacing */
    --space-base: 1rem;
    --space-100: calc(var(--space-base) - 14px); /* 2px */
    --space-200: calc(var(--space-base) - 12px); /* 4px */
    --space-250: calc(var(--space-base) - 10px); /* 6px */
    --space-300: calc(var(--space-base) - 8px); /* 8px */
    --space-325: calc(var(--space-base) - 6px); /* 10px */
    --space-350: calc(var(--space-base) - 4px); /* 12px */
    --space-400: calc(var(--space-base) - 2px); /* 14px */
    --space-450: var(--space-base); /* 16px */
    --space-500: calc(var(--space-base) + 4px); /* 20px */
    --space-550: calc(var(--space-base) + 8px); /* 24px */
    --space-600: calc(var(--space-base) + 16px); /* 32px */
    --space-650: calc(var(--space-base) + 24px); /* 40px */
    --space-700: calc(var(--space-base) + 32px); /* 48px */
    --space-800: calc(var(--space-base) + 48px); /* 64px */

    /* Stroke (Border wdith) */
    --bw-base: 1rem;
    --bw-xl: calc(var(--bw-base) - 8px); /* 8px */
    --bw-l: calc(var(--bw-base) - 12px); /* 4px */
    --bw-m: calc(var(--bw-base) - 14px); /* 2px */
    --bw-s: calc(var(--bw-base) - 14.5px); /* 1.5px */
    --bw-xs: calc(var(--bw-base) - 15px); /* 1px */

    /* Border radius */
    --br-base: 1rem;
    --br-xs: calc(var(--br-base) - 15px); /* 1px */
    --br-sm: calc(var(--br-base) - 14px); /* 2px */
    --br-md: calc(var(--br-base) - 12px); /* 4px */
    --br-lg: calc(var(--br-base) - 10px); /* 6px */
    --br-xl: calc(var(--br-base) - 8px); /* 8px */
    --br-2xl: calc(var(--br-base) - 4px); /* 12px */
    --br-3xl: var(--br-base); /* 16px */
    --br-4xl: calc(var(--br-base) + 2px); /* 18px */
    --br-5xl: calc(var(--br-base) + 4px); /* 20px */
    --br-6xl: calc(var(--br-base) + 6px); /* 22px */
    --br-7xl: calc(var(--br-base) + 8px); /* 24px */
    --br-8xl: calc(var(--br-base) + 16px); /* 32px */
    --br-pill: 9999px;

    /** PRIMITIVE COLORS  */

    /* Primary Colors */
    --clr-primary-100: #e7eefd;
    --clr-primary-200: #a0b9f8;
    --clr-primary-300: #5985f3;
    --clr-primary-400: #1b58ee;
    --clr-primary-500: #0d3caf;
    --clr-primary-600: #092a7b;
    --clr-primary-700: #061d55;
    --clr-primary-800: #04153e;
    --clr-primary-900: #031030;

    --clr-secondary-100: #ffffff;
    --clr-secondary-200: #ffffff;
    --clr-secondary-300: #ffffff;
    --clr-secondary-400: #ffffff;
    --clr-secondary-500: #ecedee;
    --clr-secondary-600: #abb0b5;
    --clr-secondary-700: #5b6167;
    --clr-secondary-800: #484c51;
    --clr-secondary-900: #292b2e;

    /* Yellow Colors */
    --clr-yellow-100: #fdf4e0;
    --clr-yellow-200: #fbeac1;
    --clr-yellow-300: #f8dfa2;
    --clr-yellow-400: #f6d583;
    --clr-yellow-500: #f4ca64;
    --clr-yellow-600: #c3a250;
    --clr-yellow-700: #92793c;
    --clr-yellow-800: #625128;
    --clr-yellow-900: #312814;

    /* Neutral Colors */
    --clr-neutral-50: #fbfbfb;
    --clr-neutral-100: #f3f3f3;
    --clr-neutral-150: #ebebeb;
    --clr-neutral-200: #cccccc;
    --clr-neutral-250: #bfbfbf;
    --clr-neutral-300: #b2b2b2;
    --clr-neutral-350: #a6a6a6;
    --clr-neutral-400: #999999;
    --clr-neutral-450: #8c8c8c;
    --clr-neutral-500: #808080;
    --clr-neutral-550: #737373;
    --clr-neutral-600: #666666;
    --clr-neutral-650: #595959;
    --clr-neutral-700: #4d4d4d;
    --clr-neutral-750: #404040;
    --clr-neutral-800: #333333;
    --clr-neutral-850: #262626;
    --clr-neutral-900: #1a1a1a;
    --clr-neutral-950: #202020;
    --clr-neutral-1000: #0d0d0d;

    /* Green Colors */
    --clr-green-100: #d7f3e3;
    --clr-green-200: #afe6c7;
    --clr-green-300: #88daaa;
    --clr-green-400: #60cd8e;
    --clr-green-500: #38c172;
    --clr-green-600: #2d9a5b;
    --clr-green-700: #227444;
    --clr-green-800: #164d2e;
    --clr-green-900: #0b2717;

    /* Blue Colors */
    --clr-blue-100: #d6e6f4;
    --clr-blue-200: #adcde9;
    --clr-blue-300: #83b5de;
    --clr-blue-400: #5a9cd3;
    --clr-blue-500: #3183c8;
    --clr-blue-600: #2769a0;
    --clr-blue-700: #1d4f78;
    --clr-blue-800: #143450;
    --clr-blue-900: #0a1a28;

    /* Red Colors */
    --clr-red-100: #fdd9d7;
    --clr-red-200: #fbb4af;
    --clr-red-300: #f88e86;
    --clr-red-400: #f6695e;
    --clr-red-500: #f44336;
    --clr-red-600: #c3362b;
    --clr-red-700: #922820;
    --clr-red-800: #621b16;
    --clr-red-900: #310d0b;

    /* Main Colors */
    --clr-white: #fff;
    --clr-white-50: #ffffff80;
    --clr-white-12: #ffffff1f;
    --clr-black: #000;
    --clr-black-50: #00000080;
    --clr-black-12: #0000001f;

    /* Shadow */
    --shadow-l0: none;
    --shadow-l1: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    --shadow-l2: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.08);
    --shadow-l3: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 0 6px 0 rgba(0, 0, 0, 0.08);
    --shadow-l4: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 0 8px 0 rgba(0, 0, 0, 0.08);
    --shadow-l5: 0 12px 24px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.08);
    --shadow-l6: 0 16px 32px 0 rgba(0, 0, 0, 0.1), 0 0 12px 0 rgba(0, 0, 0, 0.08);

    /* Overlay */
    --overlay-50: var(--clr-black-50);
    --overlay-20: var(--clr-black-12);
    --overlay-50-inverse: var(--clr-white-50);
    --overlay-20-inverse: var(--clr-white-12);
}

/* Theme based variables (light-mode) */
:root {
    /* Content colors */
    --content-primary: var(--clr-neutral-900);
    --content-secondary: var(--clr-neutral-800);
    --content-tertiary: var(--clr-neutral-600);
    --content-primary-inverse: var(--clr-white);
    --content-secondary-inverse: var(--clr-neutral-100);
    --content-tertiary-inverse: var(--clr-neutral-300);
    --content-disabled: var(--clr-neutral-350);
    --content-brand-light: var(--clr-primary-100);
    --content-brand: var(--clr-primary-500);
    --content-brand-bold: var(--clr-primary-700);
    --content-secondary-brand: var(--clr-secondary-500);
    --content-secondary-brand-bold: var(--clr-secondary-800);
    --content-inverse-secondary-brand-bold: var(--clr-secondary-500);
    --content-link: var(--clr-blue-500);
    --content-link-secondary: var(--clr-blue-600);
    --content-link-tertiary: var(--clr-blue-700);
    --content-notice: var(--clr-yellow-500);
    --content-notice-bold: var(--clr-yellow-700);
    --content-negative: var(--clr-red-500);
    --content-negative-bold: var(--clr-red-600);
    --content-positive: var(--clr-green-500);
    --content-positive-bold: var(--clr-green-600);

    /* Background colors */
    --background-primary: var(--clr-white);
    --background-secondary: var(--clr-neutral-100);
    --background-tertiary: var(--clr-neutral-150);
    --background-subtle: var(--clr-neutral-200);
    --background-strong: var(--clr-neutral-250);
    --background-selected: var(--clr-primary-100);
    --background-secondary-selected: var(--clr-secondary-100);
    --background-disabled: var(--clr-neutral-100);
    --background-inverse: var(--clr-neutral-900);
    --background-primary-inverse-50: var(--clr-black-50);
    --background-primary-inverse-20: var(--clr-black-12);
    --background-primary-50: var(--clr-white-50);
    --background-primary-20: var(--clr-white-12);
    --background-brand: var(--clr-primary-500);
    --background-brand-hover: var(--clr-primary-600);
    --background-brand-pressed: var(--clr-primary-700);
    --background-secondary-brand: var(--clr-secondary-500);
    --background-secondary-brand-hover: var(--clr-secondary-600);
    --background-secondary-brand-pressed: var(--clr-secondary-800);
    --background-info: var(--clr-blue-500);
    --background-info-subtle: var(--clr-blue-100);
    --background-notice: var(--clr-yellow-500);
    --background-notice-subtle: var(--clr-yellow-100);
    --background-negative: var(--clr-red-500);
    --background-negative-subtle: var(--clr-red-100);
    --background-positive: var(--clr-green-500);
    --background-positive-subtle: var(--clr-green-100);

    /* Border colors */
    --border-primary: var(--clr-neutral-600);
    --border-secondary: var(--clr-neutral-400);
    --border-tertiary: var(--clr-neutral-200);
    --border-subtle: var(--clr-neutral-150);
    --border-strong: var(--clr-neutral-100);
    --border-disabled: var(--clr-neutral-200);
    --border-brand: var(--clr-primary-500);
    --border-secondary-brand: var(--clr-secondary-500);
    --border-inverse: var(--clr-white);
    --border-focus: var(--clr-primary-500);
    --border-secondary-focus: var(--clr-secondary-500);
    --border-info: var(--clr-blue-500);
    --border-positive: var(--clr-green-500);
    --border-notice: var(--clr-yellow-500);
    --border-negative: var(--clr-red-500);
}

/* Theme based variables (dark-mode) */
:root[data-theme='dark'] {
    /* Content colors */
    --content-primary: var(--clr-white);
    --content-secondary: var(--clr-neutral-100);
    --content-tertiary: var(--clr-neutral-300);
    --content-primary-inverse: var(--clr-neutral-900);
    --content-secondary-inverse: var(--clr-neutral-800);
    --content-tertiary-inverse: var(--clr-neutral-600);
    --content-disabled: var(--clr-neutral-600);
    --content-brand-light: var(--clr-primary-100);
    --content-brand: var(--clr-primary-100);
    --content-brand-bold: var(--clr-primary-100);
    --content-secondary-brand: var(--clr-secondary-100);
    --content-secondary-brand-bold: var(--clr-secondary-100);
    --content-inverse-secondary-brand-bold: var(--clr-secondary-700);
    --content-link: var(--clr-blue-400);
    --content-link-secondary: var(--clr-blue-300);
    --content-link-tertiary: var(--clr-blue-200);
    --content-notice: var(--clr-yellow-400);
    --content-notice-bold: var(--clr-yellow-300);
    --content-negative: var(--clr-red-400);
    --content-negative-bold: var(--clr-red-300);
    --content-positive: var(--clr-green-400);
    --content-positive-bold: var(--clr-green-300);

    /* Background colors */
    --background-primary: var(--clr-neutral-900);
    --background-secondary: var(--clr-neutral-800);
    --background-tertiary: var(--clr-neutral-700);
    --background-subtle: var(--clr-neutral-650);
    --background-strong: var(--clr-neutral-600);
    --background-selected: var(--clr-primary-800);
    --background-secondary-selected: var(--clr-secondary-800);
    --background-disabled: var(--clr-neutral-800);
    --background-inverse: var(--clr-white);
    --background-primary-inverse-50: var(--clr-white-50);
    --background-primary-inverse-20: var(--clr-white-12);
    --background-primary-50: var(--clr-black-50);
    --background-primary-20: var(--clr-black-12);
    --background-brand: var(--clr-primary-400);
    --background-brand-hover: var(--clr-primary-300);
    --background-brand-pressed: var(--clr-primary-200);
    --background-secondary-brand: var(--clr-secondary-700);
    --background-secondary-brand-hover: var(--clr-secondary-300);
    --background-secondary-brand-pressed: var(--clr-secondary-200);
    --background-info: var(--clr-blue-400);
    --background-info-subtle: var(--clr-blue-800);
    --background-notice: var(--clr-yellow-400);
    --background-notice-subtle: var(--clr-yellow-800);
    --background-negative: var(--clr-red-400);
    --background-negative-subtle: var(--clr-red-800);
    --background-positive: var(--clr-green-400);
    --background-positive-subtle: var(--clr-green-800);

    /* Border colors */
    --border-primary: var(--clr-neutral-400);
    --border-secondary: var(--clr-neutral-600);
    --border-tertiary: var(--clr-neutral-800);
    --border-subtle: var(--clr-neutral-850);
    --border-strong: var(--clr-neutral-900);
    --border-disabled: var(--clr-neutral-700);
    --border-brand: var(--clr-primary-400);
    --border-secondary-brand: var(--clr-secondary-200);
    --border-inverse: var(--clr-neutral-900);
    --border-focus: var(--clr-primary-400);
    --border-secondary-focus: var(--clr-secondary-400);
    --border-info: var(--clr-blue-400);
    --border-positive: var(--clr-green-400);
    --border-notice: var(--clr-yellow-400);
    --border-negative: var(--clr-red-400);
}

.highlight-titles h1,
.highlight-titles h2,
.highlight-titles h3,
.highlight-titles h4,
.highlight-titles h5,
.highlight-titles h6 {
    padding: 0px 6px !important;
    font-size: var(--fs-14) !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    width: fit-content !important;

    border-radius: 4px !important;
    background: var(--background-secondary-brand-pressed, #484c51) !important;
    color: var(--content-primary-inverse, #fff) !important;
}

/* [data-theme='dark'].highlight-titles h1,
[data-theme='dark'].highlight-titles h2,
[data-theme='dark'].highlight-titles h3,
[data-theme='dark'].highlight-titles h4,
[data-theme='dark'].highlight-titles h5,
[data-theme='dark'].highlight-titles h6 {
    background: var(--clr-white-400) !important;
    color: var(--clr-grey-100) !important;
} */

.highlight-links a {
    text-decoration: underline;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*----------------------------------------------- Utilities (global) -----------------------------------------------*/

/* Font sizes */
.fs-8 {
    font-size: var(--fs-8) !important;
    line-height: var(--lh-10) !important;
}

.fs-10 {
    font-size: var(--fs-10) !important;
    line-height: var(--lh-12) !important;
}

.fs-12 {
    font-size: var(--fs-12) !important;
    line-height: var(--lh-14) !important;
}

.fs-14 {
    font-size: var(--fs-14) !important;
    line-height: var(--lh-16) !important;
}

.fs-16 {
    font-size: var(--fs-16) !important;
    line-height: var(--lh-20) !important;
}

.fs-18 {
    font-size: var(--fs-18) !important;
    line-height: var(--lh-24) !important;
}

.fs-20 {
    font-size: var(--fs-20) !important;
    line-height: var(--lh-28) !important;
}

.fs-24 {
    font-size: var(--fs-24) !important;
    line-height: var(--lh-32) !important;
}

.fs-32 {
    font-size: var(--fs-32) !important;
    line-height: var(--lh-40) !important;
}

.fs-40 {
    font-size: var(--fs-40) !important;
    line-height: var(--lh-48) !important;
}

.fs-48 {
    font-size: var(--fs-48) !important;
    line-height: var(--lh-64) !important;
}

.fs-64 {
    font-size: var(--fs-64) !important;
    line-height: var(--lh-72) !important;
}

.fs-72 {
    font-size: var(--fs-72) !important;
    line-height: var(--lh-80) !important;
}

.fs-96 {
    font-size: var(--fs-96) !important;
    line-height: var(--lh-120) !important;
}
