@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
    --global-justify-content: space-between;
    /* font-sizes */
    --fs-base: 1rem;
    /* 16px */
    --fs-900: calc(var(--fs-base) + 48px);
    /* 64px */
    --fs-850: calc(var(--fs-base) + 44px);
    /* 60px */
    --fs-800: calc(var(--fs-base) + 40px);
    /* 56px */
    --fs-750: calc(var(--fs-base) + 36px);
    /* 52px */
    --fs-700: calc(var(--fs-base) + 32px);
    /* 48px */
    --fs-650: calc(var(--fs-base) + 28px);
    /* 44px */
    --fs-600: calc(var(--fs-base) + 24px);
    /* 40px */
    --fs-550: calc(var(--fs-base) + 20px);
    /* 36px */
    --fs-500: calc(var(--fs-base) + 16px);
    /* 32px */
    --fs-450: calc(var(--fs-base) + 12px);
    /* 28px */
    --fs-400: calc(var(--fs-base) + 8px);
    /* 24px */
    --fs-300: calc(var(--fs-base) + 4px);
    /* 20px */
    --fs-200: var(--fs-base);
    /* 16px */
    --fs-100: calc(var(--fs-base) - 2px);
    /* 14px */
    --fs-50: calc(var(--fs-base) - 4px);
    /* 12px */
    --fs-25: calc(var(--fs-base) - 6px);
    /* 10px */

    /* animation durations */
    --animation: 0.25s;
    --animation-2: 0.5s;
    --animation-disabled: 0s;
    --animation-slow: 1s;
    --animation-fast: 0.1s;

    /* padding, margin, gap */
    --pm-base: 1rem;
    --pm-25: calc(var(--pm-base) - 15px);
    /* 1px */
    --pm-50: calc(var(--pm-base) - 14px);
    /* 2px */
    --pm-100: calc(var(--pm-base) - 12px);
    /* 4px */
    --pm-150: calc(var(--pm-base) - 10px);
    /* 6px */
    --pm-200: calc(var(--pm-base) - 8px);
    /* 8px */
    --pm-250: calc(var(--pm-base) - 6px);
    /* 10px */
    --pm-300: calc(var(--pm-base) - 4px);
    /* 12px */
    --pm-350: calc(var(--pm-base) - 2px);
    /* 14px */
    --pm-400: var(--pm-base);
    /* 16px */
    --pm-450: calc(var(--pm-base) + 2px);
    /* 18px */
    --pm-500: calc(var(--pm-base) + 4px);
    /* 20px */
    --pm-550: calc(var(--pm-base) + 6px);
    /* 22px */
    --pm-600: calc(var(--pm-base) + 8px);
    /* 24px */
    --pm-650: calc(var(--pm-base) + 12px);
    /* 28px */
    --pm-700: calc(var(--pm-base) + 16px);
    /* 32px */
    --pm-800: calc(var(--pm-base) + 24px);
    /* 40px */
    --pm-900: calc(var(--pm-base) + 32px);
    /* 48px */
    --pm-925: calc(var(--pm-base) + 40px);
    /* 56px */
    --pm-950: calc(var(--pm-base) + 48px);
    /* 64px */

    /* border-radius */
    --r-base: 1rem;
    --r-50: calc(var(--r-base) - 14px);
    /* 2px */
    --r-75: calc(var(--r-base) - 13px);
    /* 3px */
    --r-100: calc(var(--r-base) - 12px);
    /* 4px */
    --r-150: calc(var(--r-base) - 10px);
    /* 6px */
    --r-200: calc(var(--r-base) - 8px);
    /* 8px */
    --r-250: calc(var(--r-base) - 6px);
    /* 10px */
    --r-300: calc(var(--r-base) - 4px);
    /* 12px */
    --r-350: calc(var(--r-base) - 2px);
    /* 14px */
    --r-400: var(--r-base);
    /* 16px */
    --r-450: calc(var(--r-base) - 2px);
    /* 18px */
    --r-500: calc(var(--r-base) - 4px);
    /* 20px */
    --r-550: calc(var(--r-base) - 6px);
    /* 22px */
    --r-600: calc(var(--r-base) - 8px);
    /* 24px */
    --r-650: calc(var(--r-base) - 12px);
    /* 28px */
    --r-700: calc(var(--r-base) - 16px);
    /* 32px */
    --r-800: calc(var(--r-base) - 24px);
    /* 40px */
    --r-900: calc(var(--r-base) - 32px);
    /* 48px */
    --r-950: calc(var(--r-base) - 48px);
    /* 64px */

    /* width, height */
    --wh-25: 0.125rem;
    /* 2px */
    --wh-50: 0.25rem;
    /* 4px */
    --wh-100: 0.75rem;
    /* 12px */
    --wh-150: 1rem;
    /* 16px */
    --wh-200: 1.25rem;
    /* 20px */
    --wh-250: 1.5rem;
    /* 24px */
    --wh-300: 1.75rem;
    /* 28px */
    --wh-325: 1.875rem;
    /* 30px */
    --wh-350: 2rem;
    /* 32px */
    --wh-375: 2.25rem;
    /* 36px */
    --wh-400: 2.5rem;
    /* 40px */
    --wh-450: 3rem;
    /* 48px */
    --wh-500: 4rem;
    /* 64px */
    --wh-510: 4.5rem;
    /* 72px */
    --wh-525: 7rem;
    /* 112px */
    --wh-550: 8rem;
    /* 128px */
    --wh-600: 12rem;
    /* 192px */
    --wh-650: 16rem;
    /* 256px */
    --wh-700: 20rem;
    /* 320px */
    --wh-750: 24rem;
    /* 384px */
    --wh-800: 28rem;
    /* 448px */
    --wh-850: 32rem;
    /* 512px */
    --wh-900: 36rem;
    /* 576px */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'DM Sans'; */
    font-family: 'Poppins';
}

*:not(html) {
    font-size: var(--fs-100);
}

html {
    overflow: hidden;
}

* {
    letter-spacing: var(--letter-spacing) !important;
    word-spacing: var(--letter-spacing) !important;
}

.highlight-titles h1,
.highlight-titles h2,
.highlight-titles h3,
.highlight-titles h4,
.highlight-titles h5,
.highlight-titles h6 {
    padding: 0px var(--pm-50) !important;
    border-radius: var(--r-100) !important;
    background: hsl(var(--clr-grey-600)) !important;
    color: #fff !important;
    font-size: var(--fs-100) !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    width: fit-content !important;
}

[data-theme='dark'].highlight-titles h1,
[data-theme='dark'].highlight-titles h2,
[data-theme='dark'].highlight-titles h3,
[data-theme='dark'].highlight-titles h4,
[data-theme='dark'].highlight-titles h5,
[data-theme='dark'].highlight-titles h6 {
    background: hsl(var(--clr-white-400)) !important;
    color: hsl(var(--clr-grey-100)) !important;
}

.highlight-links a {
    text-decoration: underline;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* color(light-mode) */
:root {
    /* this colors is constant on dark mode too */
    --clr-white: 0 0 100;
    --clr-black: 0 0 25;

    /* this changes on dark mode  */
    --clr-background: 0 0 100;
    --clr-foreground: 0 0 15;
    --clr-login-background: 220 23 97;

    /* Secondary Colors */
    --clr-white-50: 0, 0%, 100%; /* #FFFFFF */
    --clr-white-100: 180, 17%, 99%; /* #FCFDFD */
    --clr-white-200: 210, 23%, 96%; /* #F5F7F9 */
    --clr-white-300: 180, 17%, 99%; /* #FCFDFD (təkrar) */
    --clr-white-400: 210, 23%, 96%; /* #F5F7F9 (təkrar) */
    --clr-white-500: 210, 29%, 95%; /* #F0F3F6 */
    --clr-white-600: 210, 20%, 98%; /* #F9FAFB */
    --clr-white-700: 210, 22%, 96%; /* #F2F4F7 */
    --clr-white-800: 213, 23%, 93%; /* #EBEEF2 */
    --clr-white-900: 200, 24%, 97%; /* #F6F8F9 */

    /* Primary Colors */
    --clr-primary-50: 220, 44%, 95%; /* #E7ECF7 */
    --clr-primary-100: 227, 40%, 81%; /* #B4C3E6 */
    --clr-primary-200: 228, 43%, 71%; /* #90A5DA */
    --clr-primary-300: 221, 52%, 58%; /* #5D7CC9 */
    --clr-primary-400: 221, 52%, 50%; /* #3D63BF */
    --clr-primary-500: 233, 84%, 37%; /* #0D3CAF */
    --clr-primary-600: 231, 85%, 35%; /* #0C379F */
    --clr-primary-700: 231, 83%, 27%; /* #092B7C */
    --clr-primary-800: 230, 82%, 20%; /* #072160 */
    --clr-primary-900: 230, 80%, 15%; /* #05194A */

    /* Secondary Colors */
    --clr-secondary-50: 195, 100%, 97%; /* #F0FBFF */
    --clr-secondary-50: 195, 100%, 97%; /* #F0FBFF */
    --clr-secondary-100: 195, 100%, 91%; /* #D1F1FF */
    --clr-secondary-200: 195, 100%, 86%; /* #BAEAFF */
    --clr-secondary-300: 195, 100%, 80%; /* #9BE1FF */
    --clr-secondary-400: 195, 100%, 76%; /* #88DBFF */
    --clr-secondary-500: 195, 100%, 70%; /* #6AD2FF */
    --clr-secondary-600: 195, 69%, 64%; /* #60BFE8 */
    --clr-secondary-700: 195, 41%, 51%; /* #4B95B5 */
    --clr-secondary-800: 195, 40%, 39%; /* #3A748C */
    --clr-secondary-900: 195, 42%, 30%; /* #2D586B */
    --clr-secondary-600: 195, 69%, 64%; /* #60BFE8 */
    --clr-secondary-700: 195, 41%, 51%; /* #4B95B5 */
    --clr-secondary-800: 195, 40%, 39%; /* #3A748C */
    --clr-secondary-900: 195, 42%, 30%; /* #2D586B */

    /* Grey Colors */
    --clr-grey-25: 210, 11%, 61%; /* #919DA8 */
    --clr-grey-50: 0, 0%, 98%; /* #F9F9F9 */
    --clr-grey-100: 220, 15%, 79%; /* #B2BBC6 */
    --clr-grey-200: 220, 13%, 70%; /* #A3ADBB */
    --clr-grey-300: 222, 11%, 61%; /* #909DAD */
    --clr-grey-400: 210, 12%, 43%; /* #5E6C79 */
    --clr-grey-500: 214, 21%, 35%; /* #47586E */
    --clr-grey-600: 215, 20%, 30%; /* #3D4C5E */
    --clr-grey-700: 220, 20%, 14%; /* #1D242D */
    --clr-grey-800: 220, 20%, 10%; /* #151A20 */
    --clr-grey-900: 225, 20%, 5%; /* #090B0E */
    --clr-grey-900: 225, 20%, 5%; /* #090B0E */
    /* Success Colors */
    --clr-green-50: 142 81 94;
    --clr-green-100: 145 53 84;
    --clr-green-200: 146 52 76;
    --clr-green-300: 146 52 66;
    --clr-green-400: 145 52 59;
    --clr-green-500: 145 55 49;
    --clr-green-600: 145 55 45;
    --clr-green-700: 146 62 38;
    --clr-green-800: 146 55 27;
    --clr-green-900: 156 61 20;

    /* Red Colors */
    --clr-red-50: 351 100 96;
    --clr-red-100: 354 100 90;
    --clr-red-200: 0 73 77;
    --clr-red-300: 0 69 67;
    --clr-red-400: 1 83 63;
    --clr-red-500: 4 90 58;
    --clr-red-600: 1 77 55;
    --clr-red-700: 0 65 51;
    --clr-red-800: 0 66 47;
    --clr-red-900: 0 73 41;

    /* Yellow Colors */
    --clr-yellow-50: 44 100 98;
    --clr-yellow-100: 44 90 92;
    --clr-yellow-200: 43 87 85;
    --clr-yellow-300: 42 87 78;
    --clr-yellow-400: 43 86 74;
    --clr-yellow-500: 42 87 67;
    --clr-yellow-600: 43 66 61;
    --clr-yellow-700: 42 42 48;
    --clr-yellow-800: 43 64 34;
    --clr-yellow-900: 44 66 22;

    /* Blue Colors */

    --clr-blue-25: 210, 20%, 96%; /* F2F4F7 */
    --clr-blue-50: 222, 47%, 94%; /* #E7ECF7 */
    --clr-blue-100: 225, 46%, 81%; /* #B4C3E6 */
    --clr-blue-200: 223, 50%, 71%; /* #90A5DA */
    --clr-blue-300: 223, 53%, 58%; /* #5D7CC9 */
    --clr-blue-400: 223, 52%, 50%; /* #3D63BF */
    --clr-blue-500: 227, 84%, 36%; /* #0D3CAF */
    --clr-blue-600: 227, 85%, 34%; /* #0C379F */
    --clr-blue-700: 227, 82%, 27%; /* #092B7C */
    --clr-blue-800: 226, 83%, 20%; /* #072160 */
    --clr-blue-900: 215, 100%, 20%; /* #002C68 */
}

/* color(dark-mode) */
:root[data-theme='dark'] {
    /* this colors is constant on light mode too */
    --clr-white: 0 0 100;
    --clr-black: 0 0 25;

    /* this changes on light mode  */
    --clr-background: 0 0 15;
    --clr-foreground: 0 0 100;
    --clr-login-background: 220 23 97;
    /* Primary Colors */
    --clr-primary-50: 26 67 24;
    --clr-primary-100: 26 68 31;
    --clr-primary-200: 26 67 41;
    --clr-primary-300: 26 72 52;
    --clr-primary-400: 26 89 57;
    --clr-primary-500: 26 89 65;
    --clr-primary-600: 26 89 71;
    --clr-primary-700: 26 88 80;
    --clr-primary-800: 26 88 87;
    --clr-primary-900: 27 91 96;

    /* Secondary Colors */
    --clr-secondary-50: 193 54 7;
    --clr-secondary-100: 192 56 9;
    --clr-secondary-200: 193 55 11;
    --clr-secondary-300: 193 57 15;
    --clr-secondary-400: 193 56 16;
    --clr-secondary-500: 193 22 33;
    --clr-secondary-600: 194 14 44;
    --clr-secondary-700: 191 11 61;
    --clr-secondary-800: 193 11 74;
    --clr-secondary-900: 192 12 92;

    /* Grey Colors */
    --clr-grey-50: 0 0 13;
    --clr-grey-100: 0 0 26;
    --clr-grey-200: 0 0 38;
    --clr-grey-300: 0 0 46;
    --clr-grey-400: 0 0 62;
    --clr-grey-450: 180 1 19;
    --clr-grey-500: 0 0 74;
    --clr-grey-600: 0 0 88;
    --clr-grey-700: 0 0 94;
    --clr-grey-800: 0 0 96;
    --clr-grey-900: 0 0 98;

    /* Success Colors */
    --clr-green-50: 156 61 20;
    --clr-green-100: 146 55 27;
    --clr-green-200: 146 62 38;
    --clr-green-300: 145 55 45;
    --clr-green-400: 145 55 49;
    --clr-green-500: 145 52 59;
    --clr-green-600: 146 52 66;
    --clr-green-700: 146 52 76;
    --clr-green-800: 145 53 84;
    --clr-green-900: 142 81 94;

    /* Red Colors */
    --clr-red-50: 0 73 41;
    --clr-red-100: 0 66 47;
    --clr-red-200: 0 65 51;
    --clr-red-300: 1 77 55;
    --clr-red-400: 4 90 58;
    --clr-red-500: 1 83 63;
    --clr-red-600: 0 69 67;
    --clr-red-700: 0 73 77;
    --clr-red-800: 354 100 90;
    --clr-red-900: 351 100 96;

    /* Yellow Colors */
    --clr-yellow-50: 44 66 22;
    --clr-yellow-100: 43 64 34;
    --clr-yellow-200: 42 42 48;
    --clr-yellow-300: 43 66 61;
    --clr-yellow-400: 42 87 67;
    --clr-yellow-500: 43 86 74;
    --clr-yellow-600: 42 87 78;
    --clr-yellow-700: 43 87 85;
    --clr-yellow-800: 44 90 92;
    --clr-yellow-900: 44 100 98;

    /* Blue Colors */
    --clr-blue-50: 207 45 23;
    --clr-blue-100: 208 63 27;
    --clr-blue-200: 207 64 39;
    --clr-blue-300: 208 60 45;
    --clr-blue-400: 207 61 49;
    --clr-blue-500: 207 58 59;
    --clr-blue-600: 207 58 66;
    --clr-blue-700: 207 58 76;
    --clr-blue-800: 206 79 81;
    --clr-blue-900: 206 100 97;
}

.react-calendar-timeline * {
    color: hsl(var(--clr-grey-450));
}

.react-calendar-timeline {
    border: 1px solid hsl(var(--clr-grey-300));
}

.rct-header-root {
    background: #fff !important;
}

.react-calendar-timeline .rct-calendar-header {
    border: none !important;
    border-left: 1px solid hsl(var(--clr-grey-300)) !important;
}

.rct-calendar-header > div:first-child {
    .rct-calendar-header > div:first-child {
        display: none !important;
    }
}

.rct-calendar-header > div:last-child {
    .rct-calendar-header > div:last-child {
        height: 50px !important;
    }
}

.react-calendar-timeline .rct-dateHeader {
    background-color: #fff !important;
    border-left: 1px solid #bbb !important;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
    background: none !important;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd {
    background: none !important;
}

.rct-item {
    border-width: 0 0 0 3px !important;
}

.rct-day-6,
.rct-day-0 {
    background-color: transparent !important;
}

.rct-dateCell,
.rct-horizontal-lines .rct-hl-even,
.rct-horizontal-lines .rct-hl-odd {
    cursor: pointer !important;
}

.rct-item {
    cursor: default !important;
}

.rct-header-root {
    position: sticky !important;
    top: 0 !important;
    z-index: 100 !important;
    background: white !important;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
    background-color: hsl(var(--clr-primary-900)) !important;
}

.ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single):not(
        .ant-picker-cell-range-end
    )
    .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single):not(
        .ant-picker-cell-range-start
    )
    .ant-picker-cell-inner {
    background-color: hsl(var(--clr-primary-900)) !important;
}
.ant-picker:hover {
    border-color: hsl(var(--clr-grey-300)) !important;
    box-shadow: none !important;
}

.ant-picker-range-focused {
    border-color: hsl(var(--clr-primary-500)) !important;
    box-shadow: none !important;
}
