* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*:not(html) {
    font-size: var(--fs-14);
}

html {
    overflow: hidden;
    scroll-behavior: smooth;
}

body {
    height: 100dvh;
    color: hsl(var(--clr-foreground));
    background: hsl(var(--clr-background));
}
#root {
    height: 100dvh;
}
main {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.container {
    width: 100%;
    padding-left: var(--pm-500);
    padding-right: var(--pm-500);
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 1400px) {
    .container {
        width: 90%;
    }
}
@media (min-width: 1140px) and (max-width: 1400px) {
    .container {
        width: 1080px;
    }
}
@media (min-width: 900px) and (max-width: 1140px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .container {
        width: 95%;
    }
}

button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all var(--animation);
}
ol,
ul,
li,
a {
    text-decoration: none;
}
li {
    display: inline-flex;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
*::-webkit-scrollbar-track {
    background: var(--background-secondary, #f3f3f3);
    border-radius: 4px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    transition: all 0.3s ease;
    background: var(--background-strong, #bfbfbf);
}

.header-menu {
    border: none;
    outline: none;
    min-width: 130px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 12px !important;
    background-color: var(--background-primary, #fff) !important;
    box-shadow: 0 4px 8px 0 rgba(91, 118, 168, 0.12);
}

.header-menu [data-part='item'] {
    width: 100%;
    padding: 8px 10px;
    transition: all 0.3s ease;
    color: var(--content-tertiary, #666);
    font-feature-settings:
        'liga' off,
        'clig' off;
    font-family: Poppins;
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20, 20px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-menu [data-part='item']:hover {
    color: var(--content-primary, #1a1a1a);
    background: var(--background-secondary, #f3f3f3);
}
.header-menu [data-part='item']:hover > svg {
    color: var(--content-primary, #1a1a1a) !important;
}
.header-menu [data-part='item']:hover > span {
    color: var(--content-primary, #1a1a1a) !important;
}
.header-menu [data-part='separator'] {
    border: 1px solid var(--content-primary, #1a1a1a);
}

[data-scope='menu'][data-part='content'],
[data-scope='menu'][data-part='positioner'] {
    background: hsl(var(--clr-white));
    border-radius: var(--r-300);
}
[data-scope='menu'][data-part='content'][data-state='open'] {
    animation: menuFadeIn var(--animation) ease-in-out;
}
[data-scope='menu'][data-part='content'][data-state='closed'] {
    animation: menuFadeOut var(--animation) ease-in-out;
}
@keyframes menuFadeIn {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes menuFadeOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(10px);
        opacity: 0;
    }
}

/* Date Picker (RSuit) */

.rs-input-group {
    background: var(--background-primary, #fff);
    border: 1px solid var(--border-tertiary, #ccc) !important;
    border-radius: var(--br-2xl, 12px) !important;
    transition: all 0.3s ease;
}

.rs-input-group:hover .rs-input-group.rs-input-group-inside,
.rs-input-group:hover .rs-input {
    /* background-color: red !important; */
}

.rs-calendar-table-cell:not(.rs-calendar-table-cell-selected):hover .rs-calendar-table-cell-content {
    background-color: var(--border-brand, #0d3caf) !important;
    color: white !important;
}

.rs-input-group:focus {
    box-shadow: 0 0 0 2px rgba(0, 102, 255, 0.2) !important;
    outline: none;
}

.rs-input-group.rs-input-group-inside,
.rs-input {
    border-radius: var(--br-2xl, 12px) !important;
    background: var(--background-primary, #fff) !important ;
}

.rs-input {
    padding: 8px 11px !important;
}

.rs-picker-date > .rs-input-group.rs-input-group-inside .rs-input::placeholder {
    color: var(--content-tertiary, #666);
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20, 20px); /* 142.857% */
}

.rs-picker-date > .rs-input-group.rs-input-group-inside .rs-input:not(:disabled):not(:focus-within):hover::placeholder {
    color: var(--content-secondary, #333) !important;
}

.rs-calendar-month-dropdown-cell:hover .rs-calendar-month-dropdown-cell-content {
    background-color: var(--border-brand, #0d3caf) !important;
    color: white !important;
}

.rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
    background-color: var(--border-brand, #0d3caf) !important;
    color: white !important;
}

.rs-calendar-month-dropdown-cell-active .rs-calendar-month-dropdown-cell-content {
    background-color: var(--border-brand, #0d3caf) !important;
    color: white !important;
}

.rs-picker-toolbar-right .rs-btn.rs-btn-primary {
    color: var(--background-primary, #fff) !important;
}
.rs-calendar-header-title-date {
    color: var(--content-secondary, #333) !important;
}

.rs-calendar-month-dropdown-year-active {
    color: var(--background-secondary, #f3f3f3) !important;
}

.rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
    box-shadow: inset 0 0 0 1px var(--border-brand, #0d3caf) !important;
}

:where(.css-dev-only-do-not-override-1a3rktk).ant-color-picker-trigger .ant-color-picker-color-block {
    border-radius: 8px !important;
}

.ant-color-picker-trigger {
    background: var(--background-primary, #fff);
}

@keyframes shine {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        opacity: 1;
    }
    20%,
    22%,
    24%,
    55% {
        opacity: 0;
    }
}
