.panelWrapper {
    width: 270px;
    transition: all 0.3s ease;
    height: 100%;
    border-radius: 16px 16px;
    background: var(--background-primary, #fff);
    display: flex;
    flex-direction: column;
    user-select: none;
}

.configPanel {
    overflow-y: auto;
    width: 270px;
    padding: 16px;
}

.configPanelHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 40px;
}

.configPanelHeader h1 {
    color: var(--content-primary, #1a1a1a);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    cursor: pointer;

    border-radius: 12px;
    background: var(--background-secondary, #333);

    padding: 10px 4px 10px 12px;
    margin-top: 10px;

    transition: all 0.3s ease;
}

.sectionHeaderActive {
    background: var(--background-selected, #e7eefd);
}

.sectionHeader span {
    color: var(--content-secondary);
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-20, 20px); /* 142.857% */
}

.sectionContent {
    padding: 12px 0;
    width: 100%;
}

.sectionHeader button {
    border: none;
    background: none;
    font-size: 18px;
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}

.sectionHeader button.rotate {
    transform: rotate(45deg);
}

.sectionBody {
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.sectionBody.hidden {
    max-height: 0;
}

.configRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 8px;
    font-size: 13px;
    position: relative;
}

.configRowItem {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
}

.configRow label {
    flex: 1;
    margin: 4px 0;

    color: var(--content-tertiary, #b2b2b2);
    font-size: var(--Font-Size-12, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Font-Line-height-14, 14px); /* 116.667% */
}

.configRow input[type='text'],
.configRow input[type='number'] {
    padding: 6px 6px;
    outline: none;
    font-size: 13px;
    border-radius: var(--Corner-Small, 8px);
    border: 1px solid var(--Foundation-Blue-Lighter, #b2bbc6);
    background: var(--Foundation-Blue-White, #fff);
    width: 100px;
}

.colorPickerWrapper {
    width: 64px;
    height: 28px;
    border: 2px solid #d0d5dd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.configRow span {
    position: absolute;
    right: 12px;

    color: #000;
    font-feature-settings:
        'liga' off,
        'clig' off;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
}

.bottomBorder {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--foundation-surface-normal-active, #ebeef2);
}

.buttonGroup {
    display: flex;
    gap: 6px;
}

.buttonGroup button {
    cursor: pointer;
    transition: background 0.2s ease;
    border-radius: var(--Corner-Small, 8px);
    background: var(--foundation-blue-white-active, #f5f7f9);
    display: flex;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 30px;
    height: 30px;
}

.buttonGroup button:hover {
    background-color: #dbe9fc;
}

.sectionSubHeader {
    margin: 8px 0;

    color: var(--content-secondary, #f3f3f3);

    font-size: var(--fs-12, 12px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-14, 14px); /* 116.667% */
}

.actionButton {
    border-radius: var(--Corner-Small, 8px);
    background: var(--foundation-blue-white-active, #f5f7f9);
    display: flex;
    height: 28px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--Foundation-Blue-blue-900, #002c68);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.isActive {
    border: 2px solid #0068f7;
    background-color: #f0f8ff;
    border-radius: 4px;
}

.isActiveBtn {
    border: 3px solid #0068f7;
    background-color: #0068f7;
    border-radius: 11px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox :global(.ant-checkbox-inner) {
    width: 22px;
    height: 22px;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    background-color: white;
    transition: all 0.2s;
    position: absolute;
    right: -10px;
}

.checkbox :global(.ant-checkbox-checked .ant-checkbox-inner) {
    background-color: #1890ff;
    border-color: #1890ff;
}

.checkbox :global(.ant-checkbox-inner::after) {
    top: 45%;
    left: 25%;
    width: 6px;
    height: 10px;
    border-width: 2px;
}

.checkbox :global(.ant-checkbox:hover .ant-checkbox-inner) {
    border-color: #40a9ff;
}

.spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #ffffff;
    border-top: 2px solid hsl(var(--clr-primary-900));
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    margin: 0 auto;
}

.modalBtnGroup {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    padding: 10px 0;
}
.cancelBtn {
    border-radius: 12px;
    border: 1px solid hsl(var(--clr-primary-900));
    display: flex;
    height: 36px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: hsl(var(--clr-primary-900));
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.saveBtn {
    display: flex;
    height: 36px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid var(--Foundation-Blue-blue-200, #8abafb);
    background: hsl(var(--clr-primary-900));
    color: var(--Foundation-Blue-White, #fff);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .title {
    color: var(--Neutral-900, #212121);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px; /* 137.5% */
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.btns {
    display: flex;
    gap: 5px;
    align-items: center;
}
.resetBtn {
    color: #0068f7;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    border-radius: 12px;
    border: 1px solid var(--Foundation-Blue-blue-500, #0068f7);

    display: flex;
    height: 36px;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
}

.resetBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.disabled {
    background-color: #d1d5db;
    cursor: not-allowed;
    opacity: 0.6;
}

.invalid {
    border: 1px solid red !important;
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-3px);
    }
    50% {
        transform: translateX(3px);
    }
    75% {
        transform: translateX(-3px);
    }
    100% {
        transform: translateX(0);
    }
}
