/* Container & Label */
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--pm-100);
    /* max-width: 150px; */
}

.label {
    color: hsl(var(--clr-primary-500));
    font-weight: 500;
    font-size: var(--fs-50);
    line-height: var(--fs-200);
}

/* Trigger (“pill”) */
.trigger {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--pm-100);
    padding: var(--pm-200) var(--pm-400);
    background: #fff;
    border: 1px solid hsl(var(--clr-grey-400));
    border-radius: var(--pm-300);
    cursor: pointer;
    user-select: none;
}

.timePart {
    /* color: #b2bbc6; */
    font-size: var(--fs-200);
    line-height: var(--fs-400);
}

.colon {
    color: #b2bbc6;
}

.icon {
    color: #b2bbc6;
    width: var(--wh-150);
    height: var(--wh-150);
}

/* Dropdown panel */
/* .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #fff;
    border: 1px solid #e5e7eb;
    margin-top: var(--pm-100);
    border-radius: var(--r-200);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
} */

.dropdown {
    position: absolute;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: var(--r-200);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

/* open-down (default) */
.dropdownDown {
    top: 100%;
    margin-top: var(--pm-100);
    bottom: auto;
}

/* open-up */
.dropdownUp {
    bottom: 100%;
    margin-bottom: var(--pm-100);
    top: auto;
}

/* Each scrollable list */
.list {
    max-height: var(--wh-600);
    overflow-y: auto;
    padding: var(--pm-250);
}

/* Each item */
.item {
    padding: var(--pm-200) var(--pm-400);
    text-align: center;
    cursor: pointer;
    font-size: var(--fs-200);
    color: #1f2937;
    border-radius: var(--r-300);
    transition: all var(--animation) ease-in-out;
}
.item:hover:not(.selected) {
    color: hsl(var(--clr-primary-500));
}
.selected {
    background: hsl(var(--clr-primary-500));
    color: #ffffff;
    font-weight: 600;
}
