.labelContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.label {
    color: var(--content-secondary, #333);
    font-size: var(--fs-12, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-14, 14px); /* 116.667% */
}

.valueText {
    font-size: 0.875rem;
    font-weight: 500;
    color: hsl(218, 11%, 50%);
    min-width: 2rem;
    text-align: right;
}

.slider {
    width: 100%;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
}

.control {
    display: flex;
    align-items: center;
    width: 100%;
    height: 28px;
}

.track {
    height: 6px;
    width: 100%;
    border-radius: 999px;
    background: var(--background-selected, #e7eefd);
    cursor: pointer;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}

.range {
    height: 100%;
    border-radius: 999px;
    background-color: var(--background-brand);
    pointer-events: none;
}

.thumb {
    background-color: var(--background-brand);
    border-radius: 999px;
    cursor: grab;
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
    z-index: 3;
    border: none;
    width: 14px;
    height: 14px;
    pointer-events: auto;
    outline: none;
}

.marker {
    font-size: 12px;
    color: red;
}

.marker::before {
    content: '';
    position: absolute;
    left: 50%;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    width: 20px;
    height: 20px;
    top: -14px;
    transform: translate(-50%, -50%);
}
