.profileContainer {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    overflow: hidden;
    color: var(--content-primary, #1a1a1a);
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: var(--fs-16);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header .editActions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.profile {
    width: 100%;
    height: 130px;

    border-radius: var(--br-3xl);
    background: var(--background-primary, #fff);
    display: flex;
    padding: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    gap: 20px;
}

.profile .icon {
    display: flex;
    width: 80px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 200px;
    background: var(--background-secondary-brand, #ecedee);
}

.profile h1 {
    color: var(--content-primary, #1a1a1a);
    font-size: var(--fs, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-20, 20px); /* 125% */
}

.profile p {
    color: var(--content-secondary, #333);
    font-size: var(--fs-16, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-20, 20px); /* 125% */
}

.profileInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.grid .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    padding: 8px 12px;
    gap: 8px;

    border-radius: var(--r-350);
    background: var(--foundation-surface-light-hover, #f5f7f9);
}

.title {
    color: hsl(var(--clr-primary-900));
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.subtitle {
    color: var(--Foundation-dark-Normal, #5e6c79);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.editGrid {
    border-radius: var(--br-2xl);
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    background: var(--background-primary, #fff);
}
