.header_top {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: var(--pm-500) 0;
}

.header_top .icon {
    border-radius: 50%;
    border: 8px solid hsl(var(--clr-primary-50));
    background: hsl(var(--clr-primary-100));
    display: flex;
    /* width: 48px;
    height: 48px; */
    padding: 12px 8px;
    justify-content: center;
    align-items: center;
}

.header_top .text h1 {
    color: hsl(var(--clr-grey-900));
    font-feature-settings:
        'liga' off,
        'clig' off;

    /* 16/Semibold */
    font-family: 'DM Sans';
    font-size: var(--fs-200);
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}

.header_top .text p {
    color: hsl(var(--clr-grey-500));
    font-feature-settings:
        'liga' off,
        'clig' off;

    /* 14/Regular */
    font-family: 'DM Sans';
    font-size: var(--fs-100);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}

.header_top .icon svg {
    width: 32px;
    font-size: 50px;
}
