.sectionHeader {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 16px 16px 16px;
    gap: 24px;
    justify-content: space-between;
    height: 50px;
}

.titleContainer {
    display: flex;
    gap: var(--pm-500);
    align-items: center;
}

.titleContainer > *,
.sectionHeader > * {
    overflow: hidden;
    color: var(--content-primary, #1a1a1a);
    font-size: var(--fs-16, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-20, 20px); /* 125% */
}

.titleContainer > svg {
    width: 16px;
    height: 16px;
    border-radius: 999999909px;
    color: var(--content-primary);
    background: hsl(var(--clr-primary-200));
    border: 6px solid hsl(var(--clr-primary-100));
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-theme='dark'] .titleContainer > svg {
    color: hsl(var(--clr-primary-600));
    background: hsl(var(--clr-primary-100));
    border: 6px solid hsl(var(--clr-primary-900));
}
