.modalContent {
    max-width: 772px;
    width: 100%;
}

.formContent {
    margin: var(--pm-500) 0;
    display: flex;
    gap: 10px;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
.rightColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: var(--pm-250);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}
