.cardContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

@media (max-width: 1700px) {
    .cardContainer {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 1500px) {
    .cardContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1400px) {
    .cardContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 800px) {
    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    .cardContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

.themeCardWrapper {
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    width: 189.2px;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;

    border-radius: var(--br-2xl);
    border: 2px solid var(--border-inverse, #fff);
    background: var(--background-secondary-brand, #ecedee);
    cursor: pointer;
}

.themeCardWrapper.selected {
    border: 2px solid var(--border-brand, #0d3caf);
}

.themeCardWrapper.disabled {
    border-color: hsl(var(--clr-grey-50) / 0.5);
}

.themeCardFooter {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    user-select: none;
    align-items: center;
}

.themeCardFooter p {
    color: var(--content-primary, #1a1a1a);
    font-feature-settings:
        'liga' off,
        'clig' off;

    /* 12/Medium */
    font-family: Poppins;
    font-size: var(--fs-12, 12px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-14, 14px); /* 116.667% */
}

.themeCardBtns {
    display: flex;
    gap: 4px;
    align-items: center;
    z-index: 2;
}

.themeCardWrapper p {
    z-index: 2;
}
.changeCurrentTheme {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
}

/* Palette */

.themePalettesWrapper {
    display: grid;
    flex-direction: column;
    gap: var(--pm-300);
    grid-area: formSection2;
}

.themePalette {
    display: flex;
}
.themePalette1 {
    padding-top: var(--pm-650);
}
.paletteItem {
    flex: 1;
    height: calc(var(--wh-450) - 4px);
    display: flex;
    align-items: flex-end;
}

.newThemeBrushIcon {
    width: 100%;
    height: 100%;
    aspect-ratio: 29/9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createThemeForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--pm-300);
}

.formItems {
    display: flex;
    flex-direction: column;
    grid-area: formSection1;
}

.colorInputs {
    padding-top: var(--pm-300);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 769px) {
    .colorInputs {
        grid-template-columns: repeat(2, 1fr);
    }
}
.colorInputs .colorInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--wh-450);
    height: var(--wh-450);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.colorInputs .colorInput::-webkit-color-swatch {
    border-radius: var(--r-300);
    border: 1px solid hsl(var(--clr-grey-300));
}
.colorInputs .colorInput::-moz-color-swatch {
    border-radius: var(--r-300);
    border: none;
}

.colorInputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createThemeBtnsWrapper {
    gap: var(--pm-300);
    display: flex;
    padding-top: var(--pm-400);
    justify-content: flex-end;
}
@media (max-width: 440px) {
    .createThemeBtnsWrapper > button {
        flex: 1;
    }
}
.createThemeHeader {
    display: flex;
    justify-content: space-between;
}

.createThemeHeader h4 {
    font-size: var(--fs-300);
    font-weight: 600;
}
