.cardContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

@media (max-width: 1700px) {
    .cardContainer {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 1500px) {
    .cardContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1400px) {
    .cardContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 800px) {
    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    .cardContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

.themeCardWrapper {
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    width: 189.2px;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;

    border-radius: var(--br-2xl);
    border: 2px solid var(--border-inverse, #fff);
    background: var(--background-secondary-brand, #ecedee);
    cursor: pointer;
}

.themeCardWrapper.selected {
    border: 2px solid var(--border-brand, #0d3caf);
}

.themeCardWrapper.disabled {
    border-color: hsl(var(--clr-grey-50) / 0.5);
}

.themeCardFooter {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    user-select: none;
    align-items: center;
}

.themeCardFooter p {
    color: var(--content-primary, #1a1a1a);
    font-size: var(--fs-12, 12px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-14, 14px);
}

.themeCardBtns {
    display: flex;
    gap: 4px;
    align-items: center;
    z-index: 2;
}

.themeCardWrapper p {
    z-index: 2;
}
.changeCurrentTheme {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
}

/* Palette */

.themePalette {
    display: grid;
    grid-template-columns: repeat(10, 48px);
    gap: var(--space-250, 6px);
}

.paletteItem {
    width: 48px;
    height: 48px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    border: 2px solid var(--border-subtle, #ebebeb);
    background: #fbfbfb;
    display: inline-block;
}

.newThemeBrushIcon {
    width: 100%;
    height: 100%;
    aspect-ratio: 29/9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createThemeForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-450, 16px);
}

.formItems {
    display: flex;
    flex-direction: column;
    gap: var(--space-300, 8px);
}

.colorInputs {
    display: flex;
    flex-direction: column;
    gap: var(--space-350, 12px);
}

.colorInputs > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-350, 12px);
    align-items: stretch;
}

.colorInputWrapper {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    border-radius: var(--br-2xl, 12px);
    border: var(--bw-m, 2px) solid var(--border-subtle, #ebebeb);
    background: var(--background-secondary, #f3f3f3);
    overflow: hidden;
}

.colorLabel {
    padding: 0 var(--space-300, 8px) var(--space-250, 6px) var(--space-450, 16px);
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.colorLabel label {
    color: var(--content-primary, #1a1a1a);
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--lh-20, 20px);
    text-wrap: nowrap;
}

.colorLabel span {
    color: var(--content-tertiary, #666);
    font-size: var(--fs-12, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-14, 14px);
}

.colorInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 140px;
    height: 100%;
    /* height: 48px; */
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    outline: none;
    display: block;
}

.colorInput::-webkit-color-swatch-wrapper {
    padding: 0;
    height: 100%;
}

.colorInput::-webkit-color-swatch {
    border: none;
    border-radius: 0 var(--br-2xl, 12px) var(--br-2xl, 12px) 0;
    height: 100%;
}

.colorInput::-moz-color-swatch {
    border: none;
    border-radius: 0 var(--br-2xl, 12px) var(--br-2xl, 12px) 0;
    height: 100%;
}

.createThemeBtnsWrapper {
    gap: var(--space-300, 8px);
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 440px) {
    .createThemeBtnsWrapper > button {
        flex: 1;
    }
}
