.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--pm-700);
    margin-top: 80px !important;
}

.title {
    text-align: center;
    color: hsl(var(--clr-blue-900));
    font-size: var(--fs-300) !important;
    font-weight: 500;
}

.description {
    width: 74%;
    text-align: center;
    color: hsl(var(--clr-primary-900));
    line-height: 21px;
}

.form {
    width: 100%;
    padding: 20px !important;
    background: #fff;
    border-radius: var(--pm-500);
}

.inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--pm-300);
}

.validationMessage {
    color: #e53e3e;
    font-size: var(--fs-100);
    margin-top: var(--pm-100);
}

.buttonsWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--pm-300);
    margin-top: var(--pm-600) !important;
}

.validationWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--pm-200);
    margin-top: var(--pm-300);
    width: 100%;
    max-width: 400px;
    align-items: flex-start;
}

.validationItem {
    display: flex;
    align-items: center;
    gap: var(--pm-200);
}

.validationText {
    font-weight: 400;
    font-size: var(--fs-100);
    margin: 0;
    user-select: none;
}

.validationText.valid {
    color: #2f855a;
}

.validationText.invalid {
    color: #e53e3e;
}