.badge {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 2px 8px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 500;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconType2 {
    width: 6px !important;
    height: 6px !important;
    border-radius: 9999px;
    background-color: currentColor;
    box-shadow: 0 0 0 2px var(--badge-dot-stroke);
}

.iconType3 {
    width: 6px !important; 
    height: 6px !important;
    border-radius: 9999px;
    background-color: currentColor;
}

.type-2 {
    background-color: transparent !important;
}

.variant-default {
    background: var(--background-tertiary);
    color: var(--content-tertiary);
    --badge-dot-stroke: var(--background-tertiary);
}

.variant-success {
    background: var(--background-positive-subtle);
    color: var(--content-positive);
    --badge-dot-stroke: var(--background-positive-subtle);
}

.variant-error {
    color: var(--content-negative);
    background: var(--background-negative-subtle);
    --badge-dot-stroke: var(--background-negative-subtle);
}

.variant-warning {
    color: var(--content-notice);
    background: var(--background-notice-subtle);
    --badge-dot-stroke: var(--background-notice-subtle);
}

.variant-processing {
    background: var(--background-info-subtle);
    color: var(--content-link);
    --badge-dot-stroke: var(--background-info-subtle);
}
