.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-200, 4px);
    border-radius: 999px;
    padding: var(--space-200, 4px) var(--space-300, 8px);
}

.badge span {
    font-weight: 500;
    font-size: var(--fs-12, 12px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-14, 14px);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconType2 {
    width: 6px !important;
    height: 6px !important;
    border-radius: 9999px;
    background-color: currentColor;
    box-shadow: 0 0 0 2px var(--badge-dot-stroke);
}

.iconType3 {
    width: 6px !important;
    height: 6px !important;
    border-radius: 9999px;
    background-color: currentColor;
}

.type-2 {
    background-color: transparent !important;
}

.type-2 span {
    font-weight: 400 !important;
}

.variant-default {
    background: var(--background-tertiary);
    color: var(--content-tertiary);
    --badge-dot-stroke: var(--background-tertiary);
}

.variant-success {
    background: var(--background-positive-subtle);
    color: var(--content-positive);
    --badge-dot-stroke: var(--background-positive-subtle);
}

.variant-error {
    color: var(--content-negative);
    background: var(--background-negative-subtle);
    --badge-dot-stroke: var(--background-negative-subtle);
}

.variant-warning {
    color: var(--content-notice);
    background: var(--background-notice-subtle);
    --badge-dot-stroke: var(--background-notice-subtle);
}

.variant-processing {
    background: var(--background-info-subtle);
    color: var(--content-link);
    --badge-dot-stroke: var(--background-info-subtle);
}
