.container {
    display: flex;
    align-items: center;
    padding: var(--space-200, 4px) var(--space-250, 12px);
    gap: var(--space-250, 12px);
    border-radius: var(--br-2xl, 12px);
    background: var(--background-secondary-brand, #ecedee);
    height: var(--wh-375);
}

/* Home button + icon (group hover) */
.homeBtn {
    padding: var(--space-250);
}
.homeIcon {
    color: var(--content-secondary-brand-bold);
    transition: color 0.3s ease;
}

/* .homeBtn:hover .homeIcon {
    color: hsl(var(--clr-primary-900));
} */

/* Edit input */
.input {
    flex: 1 1 auto;
    border: none;
    outline: none;
    background: transparent;
    color: var(--content-secondary-brand-bold, #484c51);
    font-size: var(--fs-14, 14px);
    line-height: var(--wh-200); /* !leading-5 */
}

/* Read-only path view */
.path {
    display: flex;
    align-items: center;
    gap: 4px;
    user-select: none;
}

/* Segment group with hover effects */
.segmentGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-200);
}

/* Chevron in segments */
.chevron {
    color: var(--content-secondary-brand-bold);
    transition: color 0.3s ease;
}
.segmentGroup:hover .chevron {
    color: hsl(var(--clr-primary-900));
}

/* Segment button */
.segmentBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-200);

    color: var(--content-secondary-brand-bold, #484c51);
    text-align: center;
    font-feature-settings:
        'liga' off,
        'clig' off;
    font-family: Poppins;
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--lh-20, 20px); /* 142.857% */

    transition: color 0.3s ease;
}
/* .segmentGroup:hover .segmentBtn {
    color: hsl(var(--clr-primary-900));
} */

/* Folder icon in segment */
.folderIcon {
    color: hsl(var(--clr-grey-400));
    transition: color var(--animation) ease;
}
/* .segmentGroup:hover .folderIcon {
    color: hsl(var(--clr-primary-900));
} */

/* Tail bar ("Type...") group */
.tailGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.tailChevron {
    color: var(--content-secondary-brand-bold);
    transition: color 0.3s ease;
}
.tailBtn {
    font-size: var(--fs-100);
    line-height: var(--wh-200);
    color: var(--content-secondary-brand-bold, #484c51);
    transition: color 0.3s ease;
    padding: var(--space-200) var(--space-200);
}
/* .tailGroup:hover .tailBtn {
    color: hsl(var(--clr-primary-900));
} */
