.avatar {
    border-radius: 99999%;
    background: #f2f5f7;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.avatar [data-part='fallback'] {
    font-weight: 600;
    color: hsl(var(--clr-grey-900));
}
