.avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--background-teritary, #ebebeb);
}

.avatar.online::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--content-positive, #38c172);
    border: 1px solid var(--border-inverse, #fff);
    border-radius: 50%;
}

.avatar.online[data-size='xs']::after {
    width: 6px;
    height: 6px;
}
.avatar.online[data-size='sm']::after {
    width: 8px;
    height: 8px;
}
.avatar.online[data-size='md']::after {
    width: 10px;
    height: 10px;
}
.avatar.online[data-size='lg']::after {
    width: 12px;
    height: 12px;
}
.avatar.online[data-size='xl']::after {
    width: 14px;
    height: 14px;
}
.avatar.online[data-size='2xl']::after {
    width: 16px;
    height: 16px;
}
.initials {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--content-brand, #0d3caf);

    font-size: var(--avatar-font);
    font-style: normal;
    font-weight: 500;
    line-height: var(--avatar-line-height);
    width: 100%;
    height: 100%;
}
