.filterContainer {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    align-self: stretch;

    border-radius: 16px;
    background: hsl(var(--clr-white-50));

    height: 200px;
    margin-top: 8px;
}

.gridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.tableContainer {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: hsl(var(--clr-white-50));
    padding: 8px 16px;
    margin-top: 16px;
}

.tableArea {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: var(--Foundation-surface-White, #fff);

    transition: all 0.3s ease;
    overflow-x: auto;
    padding: 16px 16px 0 16px;

    margin-top: 16px;
}

.tableScrollWrapper {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
}

.excelModalWrapper {
    padding: 10px;
    font-family: sans-serif;
    height: 100%;
    position: relative;
}

.excelModalWrapper h1 {
    color: var(--Foundation-primary-blue-900, #05194a);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.modalDescription {
    font-size: 16px;
    margin-bottom: 16px;

    color: var(--foundation-dark-normal-active, #3d4c5e);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dropZone {
    border: 1.5px dashed var(--Foundation-primary-blue-500, #0d3caf);

    border-radius: var(--Corner-Large, 16px);

    padding: 32px;
    text-align: center;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 6px;
}

.uploadIcon p {
    color: var(--textColor-default, #0b0b0b);

    margin: 0;

    color: var(--Foundation-primary-blue-900, #05194a);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: var(--lineHeights-md, 20px); /* 125% */
    letter-spacing: var(--letterSpacing-md, 0px);
}

.uploadIcon span {
    color: var(--foundation-dark-light-active, #909dad);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: var(--lineHeights-sm, 18px); /* 128.571% */
    letter-spacing: var(--letterSpacing-md, 0px);
}

.uploadIcon img {
    width: 48px;

    margin-bottom: 8px;
}

.fileLeft {
    display: flex;
    gap: 10px;
}

.fileLeft img {
    width: 36px;
    height: 36px;
    aspect-ratio: 1/1;
}

.selectBtn {
    margin-top: 8px;

    color: var(--Foundation-primary-blue-900, #05194a);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-radius: 12px;
    border: 1px solid var(--Foundation-surface-White, #fff);
    background: var(--foundation-surface-white-active, #f5f7f9);

    display: flex;
    height: 36px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.file {
    display: flex;
    flex-direction: column;
}

.fileInfoBox {
    margin-top: 16px;

    border-radius: 16px;
    background: var(--foundation-surface-light-hover, #f5f7f9);

    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--sds-size-space-100);
    align-self: stretch;
}

.fileHeader {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 8px;
}

.fileName {
    color: var(--Foundation-primary-blue-900, #05194a);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: var(--lineHeights-sm, 18px); /* 128.571% */
    letter-spacing: var(--letterSpacing-md, 0px);
}

.fileSize {
    color: var(--Foundation-dark-Normal, #5e6c79);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: var(--lineHeights-xsm, 16px); /* 133.333% */
    letter-spacing: var(--letterSpacing-md, 0px);
}

.removeBtn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #999;
}

.progressBarWrapper {
    background: #e6e6e6;
    height: 6px;
    width: 100%;
    border-radius: 3px;
}

.progressBar {
    height: 6px;
    background-color: hsl(var(--clr-primary-500));
    border-radius: 3px;
    transition: width 0.3s ease-in-out;
}

.modalFooter {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.modalFooter .highlightNumber {
    overflow: hidden;
    color: var(--foundation-dark-normal-active, #3d4c5e);
    text-align: center;
    font-feature-settings:
        'liga' off,
        'clig' off;
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: var(--Typography-Size-Body-2, 14px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Typography-Line-Height-Body-2, 20px); /* 142.857% */
    letter-spacing: var(--Typography-Letter-Space-Body-2, 0.25px);
}

.modalFooter span {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: var(--foundation-dark-normal-active, #3d4c5e);
    font-feature-settings:
        'liga' off,
        'clig' off;
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: var(--Typography-Size-Body-2, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Typography-Line-Height-Body-2, 20px);
    letter-spacing: var(--Typography-Letter-Space-Body-2, 0.25px);
}

.btnGroup {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
}

.tableContainerArea {
    height: 96%;
    /* background-color: red; */
}

.columnWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.columnWrapper span {
    margin-bottom: auto;
}

.columnWrapper select {
    margin-top: auto;
}

.spinner {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 0.6s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.editableInput {
    width: 100%;
    text-align: end;
    outline: none;
    font-family: Poppins !important;
    font-size: var(--Typography-Size-Body-2, 14px);
    font-style: normal;
    font-weight: 400;
}
