/* Toast */
.toast {
    display: flex;
    padding: var(--space-350, 12px) var(--space-450, 16px);
    width: 350px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-tertiary, #ccc);
    border-radius: var(--br-3xl, 16px);
    gap: var(--space-350, 12px);
    box-shadow: var(--shadow-l1);
}

.toast.success {
    background: var(
        --success-gradient,
        linear-gradient(90deg, var(--background-positive-subtle, #d7f3e3) 0%, var(--background-primary, #fff) 25.48%)
    );
}

.toast.error {
    background: var(
        --red-gradient,
        linear-gradient(90deg, var(--background-negative-subtle, #fdd9d7) 0%, var(--background-primary, #fff) 25.48%)
    );
}

.toast.warning {
    background: var(
        --yellow-gradient,
        linear-gradient(90deg, var(--background-notice-subtle, #fdf4e0) 0%, var(--background-primary, #fff) 25.48%)
    );
}

.toast.info {
    background: var(
        --blue-gradient,
        linear-gradient(90deg, var(--background-info-subtle, #d6e6f4) 0%, var(--background-primary, #fff) 25.48%)
    );
}

/* Content */
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-350, 12px);
}

/* Message */
.label {
    color: var(--content-primary, #1a1a1a);
    font-size: var(--fs-16, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-24, 24px);
}

/* Close button */
.close {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
    color: inherit;
}

.toast.success .close {
    color: var(--background-positive, #38c172);
    stroke: var(--background-positive, #38c172);
}

.toast.error .close {
    color: var(--background-negative, #f44336);
    stroke: var(--background-negative, #f44336);
}

.toast.warning .close {
    color: var(--background-notice, #f7cb61);
    stroke: var(--background-notice, #f7cb61);
}

.toast.info .close {
    color: var(--background-info, #3183c8);
    stroke: var(--background-info, #3183c8);
}
