.actionsDropdown {
    position: relative;
    display: inline-block;
}

.dotBtn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: var(--fs-20);
    color: var(--content-tertiary);
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    list-style-type: none;
    padding: 0;
    margin: 4px 0 0 0;
    z-index: 100;
    min-width: 160px;
    border-radius: var(--br-2xl);
    background: var(--background-primary, #fff);
    box-shadow: 0 4px 8px 0 rgba(91, 118, 168, 0.12);
    overflow: hidden;
}

.dropdownItem {
    padding: 8px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease;

    color: var(--content-tertiary, #666);
    font-feature-settings:
        'liga' off,
        'clig' off;
    font-family: Poppins;
    font-size: var(--fs-14, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--lh-20, 20px); /* 142.857% */
}

.dropdownItem:hover {
    background: var(--background-selected, #e7eefd);
}
