.sidebarWrapper {
    overflow: hidden;
    opacity: 1;
    height: 100%;
}
.sidebarWrapper.disable {
    transform: translateX(-100%);
    opacity: 0;
    user-select: none;
    pointer-events: none;
    width: 0;
    height: 0;
}

.sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 16;
}

.sidebarItem {
    width: 100%;
    color: var(--content-primary, #1a1a1a);
    margin-bottom: var(--pm-100);
    border-radius: var(--br-xxl, 12px);
}

.sidebarItem a,
.sidebarItem span {
    font-size: var(--fs-100);
}

.subMenu {
    width: 100%;
}
.subMenu.open {
    display: flex;
    flex-direction: column;
    gap: var(--pm-200);
}

.subMenuBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    font-size: var(--fs-100);
    color: hsl(var(--clr-primary-900));
    border-radius: var(--r-300);
    max-height: 44px;
    transition: all 0.3s ease;
    border-radius: var(--br-xxl, 12px);
    padding: var(--Spacing-12, 12px) var(--Spacing-16, 16px);
    gap: var(--Spacing-12, 12px);
}

.subMenuBtn.parentActive {
    border-radius: var(--br-xxl, 12px);
    background: var(--background-primary, #fff);

    box-shadow:
        0 2px 4px 0 rgba(0, 0, 0, 0.08),
        0 0 2px 0 rgba(0, 0, 0, 0.08);
}
.subMenuBtn.parentActive svg g rect,
.subMenuBtn.parentActive svg g path {
    stroke: var(--content-primary);
}

.sidebarItem svg g rect,
.sidebarItem svg g path,
.subMenuItem svg g rect,
.subMenuItem svg g path {
    transition: all 0.3s ease;
}
.subMenuBtn:hover {
    background-color: var(--background-primary, #fff);
}
.subMenuTitle {
    transition: all 0.3s ease;
}
.subMenuBtn:hover .subMenuTitle {
    padding-left: 6px;
}
.subMenuBtn > span {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 12px;
    font-size: var(--fs-100);
}

.subMenuItems {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.3s ease;
    width: 100%;
}

.subMenuItems.active {
    grid-template-rows: 1fr;
}
.subMenuItems > .subMenuList {
    overflow: hidden;
}
.subMenuList {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.subMenuItem {
    display: flex;
    gap: var(--pm-100);
    font-size: var(--fs-100);
}

.sidebarLink {
    width: 100%;
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: var(--fs-100);
    border-radius: var(--pm-300);
    transition: all 0.3s ease;

    padding: var(--Spacing-12, 12px) var(--Spacing-16, 16px);
    align-items: center;
    gap: var(--Spacing-12, 12px);
    border-radius: var(--br-xxl, 12px);
}

.sidebarLink:hover {
    background: var(--background-primary, #fff);
}

.sidebarLink span {
    line-height: 20px;
    transition: all 0.3s ease;
}
.sidebarLink:not(.linkActive):hover span {
    padding-left: 6px;
}
.sidebarLink.linkActive {
    background: var(--background-brand, #0d3caf);
    color: var(--content-primary-inverse, #fff);
}

.sidebarLink.linkActive svg ellipse,
.sidebarLink.linkActive svg path,
.sidebarLink.linkActive svg g path,
.sidebarLink.linkActive svg rect {
    stroke: var(--content-primary-inverse) !important;
}
.sidebarSubLink {
    width: 100%;
    display: flex;
    align-items: center;
    color: hsl(var(--clr-primary-900));
    transition: 0.3s;
    padding-left: 28px;
    border-radius: var(--br-xxl, 12px);

    height: 40px;
    padding: var(--Spacing-12, 12px) var(--Spacing-16, 16px);
    gap: var(--Spacing-12, 12px);
}
.sidebarSubLink:hover {
    color: hsl(var(--clr-blue-500));
    background-color: var(--background-primary, #fff);
}
.sidebarSubLink > span {
    display: flex;
    align-items: center;
    height: 100%;
    gap: var(--pm-200);
    padding: 0 var(--pm-200);
    border-radius: var(--r-100);
}
.sidebarSubLink.subLinkActive > span {
    color: hsl(var(--clr-blue-500));
}

.subMenuArrow {
    transition: all 0.3s ease;
    display: flex;
    transform: rotate(-90deg);
}
.subMenuArrow.parentActive {
    transform: rotate(0deg);
}

.sidebarPinnedWrapper {
    opacity: 1;
    transition: all 0.3s ease;
}
.sidebarPinnedWrapper.disable {
    transform: translateX(-100%);
    opacity: 0;
    user-select: none;
    pointer-events: none;
    width: 0;
    height: 0;
}

/* pinned */
.pinned {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: var(--pm-600) var(--pm-400) 0;
    gap: var(--pm-100);
    /* align-items: center; */
}
.pinnedItem {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: var(--pm-200);
    border-radius: 50%;
}
.linkTitle {
    transition: all 0.3s ease;
}
.pinned .linkTitle {
    overflow: hidden;
    opacity: 0;
    width: 0;
}

.pinned .pinnedLink {
    color: hsl(var(--clr-foreground));
    padding: var(--pm-400);
    border-radius: 50%;
    transition: all 0.3s ease;
    position: relative;
}
.pinned .pinnedLink > * {
    pointer-events: auto;
}
.pinned .pinnedLink:not(.pinnedParentActive):not(.linkActive):hover {
    background-color: hsl(var(--clr-white-50));
}

.pinned .pinnedLink.linkActive {
    color: hsl(var(--clr-white-50));
    background-color: hsl(var(--clr-blue-500));
}
.pinned .pinnedLink.linkActive svg g path,
.pinnedLink.linkActive svg path,
.pinnedLink.linkActive svg rect {
    stroke: hsl(var(--clr-white-50));
}
.pinned .pinnedLink:hover::after {
    content: attr(title);
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    position: absolute;
    background-color: hsl(var(--clr-primary-900));
    color: hsl(var(--clr-white-50));
    padding: var(--pm-100) var(--pm-150);
    border-radius: var(--r-200);
    font-size: var(--fs-25);
    white-space: nowrap;
    z-index: 1000;
}
.pinnedParentActive {
    color: hsl(var(--clr-white-50));
    background-color: hsl(var(--clr-blue-500));
}
.pinnedParentActive svg g path,
.pinnedParentActive svg path,
.pinnedParentActive svg rect {
    stroke: hsl(var(--clr-white-50));
}
.pinnedSubMenu {
    position: relative;
}

.subLinkItemsContainer {
    display: flex;
    flex-direction: column;
    padding: 0 var(--pm-200);
}
.subLinkItemsContainer .pinnedLink {
    padding: 12px 16px;
    border-radius: var(--r-200);
}
.subLinkItemsContainer .pinnedLink:hover {
    background-color: hsl(var(--clr-white-200));
}

.sublinkTimeline {
    width: 1px;
    height: 100%;
    background: hsl(var(--clr-grey-200));
    position: relative;
    margin-right: var(--pm-200);
}

.subLinkActive .sublinkTimeline,
.subLinkActive .sublinkTimeline .timelineDot {
    background: hsl(var(--clr-primary-500));
}
.sublinkTimeline .timelineDot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: hsl(var(--clr-grey-200));
    top: 0;
    left: 0;
    border-radius: 99999px;
    transform: translate(-43%, 216%);
}
