/* Wrapper */
.sidebarWrapper {
    overflow: hidden;
    opacity: 1;
    transition: all var(--animation-2);
    height: 100%;
}
.sidebarWrapper.disable {
    transform: translateX(-100%);
    opacity: 0;
    user-select: none;
    pointer-events: none;
    width: 0;
    height: 0;
}

/* Main Content */
.sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--pm-600) var(--pm-400);
    transition: all 0.3s ease;
}

.sidebarItem {
    width: 100%;
    color: hsl(var(--clr-primary-900));
    margin-bottom: var(--pm-100);
}

.sidebarItem a,
.sidebarItem span {
    font-size: var(--fs-100);
}

/* Submenu */
.subMenu {
    width: 100%;
}
.subMenu.open {
    display: flex;
    flex-direction: column;
    gap: var(--pm-200);
}

.subMenuBtn {
    padding: var(--pm-300) var(--pm-400);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    gap: var(--pm-300);
    font-size: var(--fs-100);
    color: hsl(var(--clr-primary-900));
    border-radius: var(--r-300);
    max-height: 44px;
    transition: 0.3s;
}

.subMenuBtn.parentActive {
    color: hsl(var(--clr-primary-500));
    background-color: hsl(var(--clr-white-50));
    box-shadow:
        0 100px 180px 0 rgba(146, 156, 184, 0.09),
        0 42.672px 75.2px 0 rgba(146, 156, 184, 0.06),
        0 21.795px 40.205px 0 rgba(146, 156, 184, 0.05),
        0 11.085px 22.539px 0 rgba(146, 156, 184, 0.05),
        0 5.088px 11.97px 0 rgba(146, 156, 184, 0.04),
        0 1.727px 4.981px 0 rgba(146, 156, 184, 0.03);
}
.subMenuBtn.parentActive svg g rect,
.subMenuBtn.parentActive svg g path {
    stroke: hsl(var(--clr-blue-500));
}

.subMenuBtn .subMenuTitle {
    transition: 0.3s;
}
.subMenuBtn:hover {
    background-color: hsl(var(--clr-white-50));
}
.subMenuBtn:hover .subMenuTitle {
    padding-left: var(--pm-150);
}
.subMenuBtn > span {
    display: flex;
    align-items: center;
    flex: 1;
    gap: var(--pm-400);
    font-size: var(--fs-100);
}

.subMenuItems {
    display: grid;
    grid-template-rows: 0fr;
    transition: all var(--animation);
    width: 100%;
}

.subMenuItems.active {
    grid-template-rows: 1fr;
}
.subMenuItems > .subMenuList {
    overflow: hidden;
}
.subMenuList {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.subMenuItem {
    display: flex;
    gap: var(--pm-100);
    font-size: var(--fs-100);
}

.sidebarLink {
    width: 100%;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: var(--pm-300) var(--pm-400);
    gap: var(--pm-300);
    cursor: pointer;
    font-size: var(--fs-100);
    border-radius: var(--pm-300);
    transition: 0.3s;
}
.sidebarLink:hover {
    background-color: hsl(var(--clr-white-50));
}
.sidebarLink span {
    line-height: 20px;
    transition: 0.3s;
}
.sidebarLink:not(.linkActive):hover span {
    padding-left: var(--pm-150);
}
.sidebarLink.linkActive {
    background-color: hsl(var(--clr-blue-500));
    color: hsl(var(--clr-white-50));
}

.sidebarLink.linkActive svg ellipse,
.sidebarLink.linkActive svg path,
.sidebarLink.linkActive svg g path,
.sidebarLink.linkActive svg rect {
    stroke: hsl(var(--clr-white-50)) !important;
}
.sidebarSubLink {
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--pm-300) var(--pm-400);
    color: hsl(var(--clr-primary-900));
    transition: 0.3s;
    padding-left: var(--pm-650);
    border-radius: var(--r-300);
}
.sidebarSubLink:hover {
    color: hsl(var(--clr-blue-500));
    background-color: hsl(var(--clr-white-50));
}
.sidebarSubLink > span {
    display: flex;
    align-items: center;
    height: 100%;
    gap: var(--pm-200);
    padding: 0 var(--pm-200);
    border-radius: var(--r-100);
}
.sidebarSubLink.subLinkActive > span {
    color: hsl(var(--clr-blue-500));
}

.subMenuArrow {
    transition: all var(--animation);
    display: flex;
    transform: rotate(-90deg);
}
.subMenuArrow.parentActive {
    transform: rotate(0deg);
}

.sidebarPinnedWrapper {
    opacity: 1;
    transition: all var(--animation-2);
}
.sidebarPinnedWrapper.disable {
    transform: translateX(-100%);
    opacity: 0;
    user-select: none;
    pointer-events: none;
    width: 0;
    height: 0;
}

/* pinned */
.pinned {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: var(--pm-600) var(--pm-400) 0;
    gap: var(--pm-100);
    /* align-items: center; */
}
.pinnedItem {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: var(--pm-200);
    border-radius: 50%;
}
.linkTitle {
    transition: all var(--animation);
}
.pinned .linkTitle {
    overflow: hidden;
    opacity: 0;
    width: 0;
}

.pinned .pinnedLink {
    color: hsl(var(--clr-foreground));
    padding: var(--pm-400);
    border-radius: 50%;
    transition: 0.3s;
    position: relative;
}
.pinned .pinnedLink > * {
    pointer-events: auto;
}
.pinned .pinnedLink:not(.pinnedParentActive):not(.linkActive):hover {
    background-color: hsl(var(--clr-white-50));
}

.pinned .pinnedLink.linkActive {
    color: hsl(var(--clr-white-50));
    background-color: hsl(var(--clr-blue-500));
}
.pinned .pinnedLink.linkActive svg g path,
.pinnedLink.linkActive svg path,
.pinnedLink.linkActive svg rect {
    stroke: hsl(var(--clr-white-50));
}
.pinned .pinnedLink:hover::after {
    content: attr(title);
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    position: absolute;
    background-color: hsl(var(--clr-primary-900));
    color: hsl(var(--clr-white-50));
    padding: var(--pm-100) var(--pm-150);
    border-radius: var(--r-200);
    font-size: var(--fs-25);
    white-space: nowrap;
    z-index: 1000;
}
.pinnedParentActive {
    color: hsl(var(--clr-white-50));
    background-color: hsl(var(--clr-blue-500));
}
.pinnedParentActive svg g path,
.pinnedParentActive svg path,
.pinnedParentActive svg rect {
    stroke: hsl(var(--clr-white-50));
}
.pinnedSubMenu {
    position: relative;
}

.subLinkItemsContainer {
    display: flex;
    flex-direction: column;
    padding: 0 var(--pm-200);
}
.subLinkItemsContainer .pinnedLink {
    padding: 12px 16px;
    border-radius: var(--r-200);
}
.subLinkItemsContainer .pinnedLink:hover {
    background-color: hsl(var(--clr-white-200));
}

.sublinkTimeline {
    width: 1px;
    height: 100%;
    background: hsl(var(--clr-grey-200));
    position: relative;
    margin-right: var(--pm-200);
}

.subLinkActive .sublinkTimeline,
.subLinkActive .sublinkTimeline .timelineDot {
    background: hsl(var(--clr-primary-500));
}
.sublinkTimeline .timelineDot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: hsl(var(--clr-grey-200));
    top: 0;
    left: 0;
    border-radius: 99999px;
    transform: translate(-43%, 216%);
}
