.wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.filterContainer {
    height: 100%;
    width: 310px;
    background: #fff;

    border-radius: var(--br-3xl);
    background: var(--background-primary, #fff);

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: width 0.4s ease;
    padding: 15px 10px;
}

.filterContent {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition:
        transform 0.4s ease,
        opacity 0.4s ease;
    gap: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.filterScrollableContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 14px;
    padding: 12px 5px;
}

.expanded .filterContent {
    /* transform: translateX(0); */
    opacity: 1;
}

.collapsed .filterContent {
    /* transform: translateX(-100%); */
    opacity: 0;
    pointer-events: none;
}

.filtersMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.filterContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
