.newContentWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--pm-500); /* 20px */
}

.notificationHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.notificationHeaderLeft {
    display: flex;
    gap: var(--pm-200); /* 8px */
}

.backButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.notificationHeaderTitle {
    color: hsl(var(--clr-primary-900));
    text-overflow: ellipsis;
    font-size: var(--fs-200); /* 16px */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.notificationHeaderRight {
    display: flex;
    gap: var(--pm-200); /* 8px */
}

.customToolbar {
    border: none !important;
    padding: 0 !important;
}

.notificationBody {
    display: flex;
    flex-direction: column;
    gap: var(--pm-500); /* 20px */
}

.notificationTextEditor {
    display: flex;
    flex-direction: column;
    gap: var(--pm-100); /* 4px */
}

.notificationTextEditor > p {
    color: hsl(var(--clr-primary-900));
    font-feature-settings:
        'liga' off,
        'clig' off;
    font-size: var(--fs-50); /* 12px */
    font-style: normal;
    font-weight: 500;
    line-height: var(--wh-150); /* 1rem */
    margin-bottom: 0;
}
